[user]
	name = MiraiMindz
	email = 78761663+MiraiMindz@users.noreply.github.com
	signingkey = CD4E84CB060738C1
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[commit]
	gpgsign = true
