/* Tabs Background */
.tab-background {
    background: var(--PolarNight1-100) !important;
    border: 1px solid var(--Frost2-20) !important;
}

.tab-background[selected="true"] {
    background: var(--Foreground-20) !important;
    border: 1px solid var(--Frost2-100) !important;
}

/* Tabs Contents (Title & Icon) */
.tab-content .tab-icon-stack .tab-icon-image {
    opacity: 0.4 !important;
}

.tab-content .tab-label-container .tab-text.tab-label {
    opacity: 0.4 !important;
}

.tab-content:hover .tab-icon-stack .tab-icon-image {
    opacity: 0.6 !important;
}

.tab-content:hover .tab-label-container .tab-text.tab-label {
    opacity: 0.6 !important;
}

.tab-content[selected="true"] .tab-icon-stack .tab-icon-image {
    opacity: 1 !important;
}

.tab-content[selected="true"] .tab-label-container .tab-text.tab-label {
    opacity: 1 !important;
}

/* Tabs Area */
#navigator-toolbox {
    background-color: var(--PolarNight1-100) !important;
    --tabs-border-color: var(--Frost2-100) !important;
}

/* Close Icon */
.close-icon:hover {
    /* background-color: color-mix(in srgb, currentColor 10%, transparent); */
    background-color: var(--SnowStorm1-20) !important;
    border-radius: 100% !important;
    color: var(--Aurora1-100) !important;
}

.tab-content[selected="true"] .close-icon {
    opacity: 1 !important;
}

.tab-content:hover .close-icon {
    opacity: 0.6 !important;
}

.tab-content .close-icon {
    opacity: 0.4 !important;
}

