/* Server List */
.wrapper-1_HaEi.guilds-2JjMmN { width: 6px; }
.wrapper-1_HaEi.guilds-2JjMmN:hover { width: 72px; }

/* Sidebar */
.sidebar-1tnWFu { width: 6px; }
.sidebar-1tnWFu:hover { width: 240px; }

/* Member List */
.membersWrap-3NUR2t { min-width: 6px; width: 6px; }
.members-3WRCEx { width: 6px; }
.members-3WRCEx:hover { width: 240px; }
.membersWrap-3NUR2t:hover { min-width: 240px; width: 240px; }
