@import url(../Colors/MaterialOcean_ColorBank.css);

html {
    background-color: var(--Background-100);
}

#BackgroundImage {
    --BackgroundImage: url(../Images/Backgrounds/advSstars.png);
}

#WelcomeText {
    color: var(--Foreground-100);
}

#clock {
    color: var(--Foreground-100);
}

#clockhours {
    border: 1px solid var(--Foreground-100);
}

#weathericon, #tempicon, #humicon {
    fill: var(--Foreground-100);
}

.roundweather {
    color: var(--Foreground-100);
    background-color: var(--Background-100);
}

#configtoggler {
    color: var(--Foreground-100);
    background-color: var(--Background-100);
}

#configcog {
    fill: var(--Foreground-100);
}

#configmenu {
    color: var(--Foreground-100);
    background-color: var(--Background-100);
}

.roundbooks {
    color: var(--Foreground-100);
    background-color: var(--Background-100);
}

#SearchBarToggler {
    color: var(--Red-100);
}

#SearchBarToggler.on {
    color: var(--Green-100);
}

a {
    color: var(--Foreground-75);
}

#CHAN_BM:hover {
    color: var(--Green-100);
}

#REDD_BM:hover {
    color: var(--Yellow-100);
}

#GTHB_BM:hover {
    color: var(--Magenta-100);
}

.SearchBar {
    border-color: var(--Background-100);
}

.SearchBarInput {
    color: var(--Foreground-100);
}

.SearchBarSubmit {
    fill: var(--Foreground-100);
}

.SearchMethod {
    fill: var(--Foreground-100);
}

.MainIcon {
    stroke: var(--Foreground-100);
}

#quotes {
    color: var(--Foreground-100);
}


