:root {
	/* OPACITY - 01% */
	--Background-01: #0F111A03;
	--Foreground-01: #A6ACCD03;
	--Blue-01: #82AAFF03;
	--Black-01: #464B5D03;
	--Cyan-01: #89DDFF03;
	--Green-01: #C3E88D03;
	--Magenta-01: #C792EA03;
	--Red-01: #f0717803;
	--White-01: #ffffff03;
	--Yellow-01: #FFCB6B03;
	/* OPACITY - 02% */
	--Background-02: #0F111A05;
	--Foreground-02: #A6ACCD05;
	--Blue-02: #82AAFF05;
	--Black-02: #464B5D05;
	--Cyan-02: #89DDFF05;
	--Green-02: #C3E88D05;
	--Magenta-02: #C792EA05;
	--Red-02: #f0717805;
	--White-02: #ffffff05;
	--Yellow-02: #FFCB6B05;
	/* OPACITY - 03% */
	--Background-03: #0F111A08;
	--Foreground-03: #A6ACCD08;
	--Blue-03: #82AAFF08;
	--Black-03: #464B5D08;
	--Cyan-03: #89DDFF08;
	--Green-03: #C3E88D08;
	--Magenta-03: #C792EA08;
	--Red-03: #f0717808;
	--White-03: #ffffff08;
	--Yellow-03: #FFCB6B08;
	/* OPACITY - 04% */
	--Background-04: #0F111A0A;
	--Foreground-04: #A6ACCD0A;
	--Blue-04: #82AAFF0A;
	--Black-04: #464B5D0A;
	--Cyan-04: #89DDFF0A;
	--Green-04: #C3E88D0A;
	--Magenta-04: #C792EA0A;
	--Red-04: #f071780A;
	--White-04: #ffffff0A;
	--Yellow-04: #FFCB6B0A;
	/* OPACITY - 05% */
	--Background-05: #0F111A0D;
	--Foreground-05: #A6ACCD0D;
	--Blue-05: #82AAFF0D;
	--Black-05: #464B5D0D;
	--Cyan-05: #89DDFF0D;
	--Green-05: #C3E88D0D;
	--Magenta-05: #C792EA0D;
	--Red-05: #f071780D;
	--White-05: #ffffff0D;
	--Yellow-05: #FFCB6B0D;
	/* OPACITY - 06% */
	--Background-06: #0F111A0F;
	--Foreground-06: #A6ACCD0F;
	--Blue-06: #82AAFF0F;
	--Black-06: #464B5D0F;
	--Cyan-06: #89DDFF0F;
	--Green-06: #C3E88D0F;
	--Magenta-06: #C792EA0F;
	--Red-06: #f071780F;
	--White-06: #ffffff0F;
	--Yellow-06: #FFCB6B0F;
	/* OPACITY - 07% */
	--Background-07: #0F111A12;
	--Foreground-07: #A6ACCD12;
	--Blue-07: #82AAFF12;
	--Black-07: #464B5D12;
	--Cyan-07: #89DDFF12;
	--Green-07: #C3E88D12;
	--Magenta-07: #C792EA12;
	--Red-07: #f0717812;
	--White-07: #ffffff12;
	--Yellow-07: #FFCB6B12;
	/* OPACITY - 08% */
	--Background-08: #0F111A14;
	--Foreground-08: #A6ACCD14;
	--Blue-08: #82AAFF14;
	--Black-08: #464B5D14;
	--Cyan-08: #89DDFF14;
	--Green-08: #C3E88D14;
	--Magenta-08: #C792EA14;
	--Red-08: #f0717814;
	--White-08: #ffffff14;
	--Yellow-08: #FFCB6B14;
	/* OPACITY - 09% */
	--Background-09: #0F111A17;
	--Foreground-09: #A6ACCD17;
	--Blue-09: #82AAFF17;
	--Black-09: #464B5D17;
	--Cyan-09: #89DDFF17;
	--Green-09: #C3E88D17;
	--Magenta-09: #C792EA17;
	--Red-09: #f0717817;
	--White-09: #ffffff17;
	--Yellow-09: #FFCB6B17;
	/* OPACITY - 10% */
	--Background-10: #0F111A1A;
	--Foreground-10: #A6ACCD1A;
	--Blue-10: #82AAFF1A;
	--Black-10: #464B5D1A;
	--Cyan-10: #89DDFF1A;
	--Green-10: #C3E88D1A;
	--Magenta-10: #C792EA1A;
	--Red-10: #f071781A;
	--White-10: #ffffff1A;
	--Yellow-10: #FFCB6B1A;
	/* OPACITY - 11% */
	--Background-11: #0F111A1C;
	--Foreground-11: #A6ACCD1C;
	--Blue-11: #82AAFF1C;
	--Black-11: #464B5D1C;
	--Cyan-11: #89DDFF1C;
	--Green-11: #C3E88D1C;
	--Magenta-11: #C792EA1C;
	--Red-11: #f071781C;
	--White-11: #ffffff1C;
	--Yellow-11: #FFCB6B1C;
	/* OPACITY - 12% */
	--Background-12: #0F111A1F;
	--Foreground-12: #A6ACCD1F;
	--Blue-12: #82AAFF1F;
	--Black-12: #464B5D1F;
	--Cyan-12: #89DDFF1F;
	--Green-12: #C3E88D1F;
	--Magenta-12: #C792EA1F;
	--Red-12: #f071781F;
	--White-12: #ffffff1F;
	--Yellow-12: #FFCB6B1F;
	/* OPACITY - 13% */
	--Background-13: #0F111A21;
	--Foreground-13: #A6ACCD21;
	--Blue-13: #82AAFF21;
	--Black-13: #464B5D21;
	--Cyan-13: #89DDFF21;
	--Green-13: #C3E88D21;
	--Magenta-13: #C792EA21;
	--Red-13: #f0717821;
	--White-13: #ffffff21;
	--Yellow-13: #FFCB6B21;
	/* OPACITY - 14% */
	--Background-14: #0F111A24;
	--Foreground-14: #A6ACCD24;
	--Blue-14: #82AAFF24;
	--Black-14: #464B5D24;
	--Cyan-14: #89DDFF24;
	--Green-14: #C3E88D24;
	--Magenta-14: #C792EA24;
	--Red-14: #f0717824;
	--White-14: #ffffff24;
	--Yellow-14: #FFCB6B24;
	/* OPACITY - 15% */
	--Background-15: #0F111A26;
	--Foreground-15: #A6ACCD26;
	--Blue-15: #82AAFF26;
	--Black-15: #464B5D26;
	--Cyan-15: #89DDFF26;
	--Green-15: #C3E88D26;
	--Magenta-15: #C792EA26;
	--Red-15: #f0717826;
	--White-15: #ffffff26;
	--Yellow-15: #FFCB6B26;
	/* OPACITY - 16% */
	--Background-16: #0F111A29;
	--Foreground-16: #A6ACCD29;
	--Blue-16: #82AAFF29;
	--Black-16: #464B5D29;
	--Cyan-16: #89DDFF29;
	--Green-16: #C3E88D29;
	--Magenta-16: #C792EA29;
	--Red-16: #f0717829;
	--White-16: #ffffff29;
	--Yellow-16: #FFCB6B29;
	/* OPACITY - 17% */
	--Background-17: #0F111A2B;
	--Foreground-17: #A6ACCD2B;
	--Blue-17: #82AAFF2B;
	--Black-17: #464B5D2B;
	--Cyan-17: #89DDFF2B;
	--Green-17: #C3E88D2B;
	--Magenta-17: #C792EA2B;
	--Red-17: #f071782B;
	--White-17: #ffffff2B;
	--Yellow-17: #FFCB6B2B;
	/* OPACITY - 18% */
	--Background-18: #0F111A2E;
	--Foreground-18: #A6ACCD2E;
	--Blue-18: #82AAFF2E;
	--Black-18: #464B5D2E;
	--Cyan-18: #89DDFF2E;
	--Green-18: #C3E88D2E;
	--Magenta-18: #C792EA2E;
	--Red-18: #f071782E;
	--White-18: #ffffff2E;
	--Yellow-18: #FFCB6B2E;
	/* OPACITY - 19% */
	--Background-19: #0F111A30;
	--Foreground-19: #A6ACCD30;
	--Blue-19: #82AAFF30;
	--Black-19: #464B5D30;
	--Cyan-19: #89DDFF30;
	--Green-19: #C3E88D30;
	--Magenta-19: #C792EA30;
	--Red-19: #f0717830;
	--White-19: #ffffff30;
	--Yellow-19: #FFCB6B30;
	/* OPACITY - 20% */
	--Background-20: #0F111A33;
	--Foreground-20: #A6ACCD33;
	--Blue-20: #82AAFF33;
	--Black-20: #464B5D33;
	--Cyan-20: #89DDFF33;
	--Green-20: #C3E88D33;
	--Magenta-20: #C792EA33;
	--Red-20: #f0717833;
	--White-20: #ffffff33;
	--Yellow-20: #FFCB6B33;
	/* OPACITY - 21% */
	--Background-21: #0F111A36;
	--Foreground-21: #A6ACCD36;
	--Blue-21: #82AAFF36;
	--Black-21: #464B5D36;
	--Cyan-21: #89DDFF36;
	--Green-21: #C3E88D36;
	--Magenta-21: #C792EA36;
	--Red-21: #f0717836;
	--White-21: #ffffff36;
	--Yellow-21: #FFCB6B36;
	/* OPACITY - 22% */
	--Background-22: #0F111A38;
	--Foreground-22: #A6ACCD38;
	--Blue-22: #82AAFF38;
	--Black-22: #464B5D38;
	--Cyan-22: #89DDFF38;
	--Green-22: #C3E88D38;
	--Magenta-22: #C792EA38;
	--Red-22: #f0717838;
	--White-22: #ffffff38;
	--Yellow-22: #FFCB6B38;
	/* OPACITY - 23% */
	--Background-23: #0F111A3B;
	--Foreground-23: #A6ACCD3B;
	--Blue-23: #82AAFF3B;
	--Black-23: #464B5D3B;
	--Cyan-23: #89DDFF3B;
	--Green-23: #C3E88D3B;
	--Magenta-23: #C792EA3B;
	--Red-23: #f071783B;
	--White-23: #ffffff3B;
	--Yellow-23: #FFCB6B3B;
	/* OPACITY - 24% */
	--Background-24: #0F111A3D;
	--Foreground-24: #A6ACCD3D;
	--Blue-24: #82AAFF3D;
	--Black-24: #464B5D3D;
	--Cyan-24: #89DDFF3D;
	--Green-24: #C3E88D3D;
	--Magenta-24: #C792EA3D;
	--Red-24: #f071783D;
	--White-24: #ffffff3D;
	--Yellow-24: #FFCB6B3D;
	/* OPACITY - 25% */
	--Background-25: #0F111A40;
	--Foreground-25: #A6ACCD40;
	--Blue-25: #82AAFF40;
	--Black-25: #464B5D40;
	--Cyan-25: #89DDFF40;
	--Green-25: #C3E88D40;
	--Magenta-25: #C792EA40;
	--Red-25: #f0717840;
	--White-25: #ffffff40;
	--Yellow-25: #FFCB6B40;
	/* OPACITY - 26% */
	--Background-26: #0F111A42;
	--Foreground-26: #A6ACCD42;
	--Blue-26: #82AAFF42;
	--Black-26: #464B5D42;
	--Cyan-26: #89DDFF42;
	--Green-26: #C3E88D42;
	--Magenta-26: #C792EA42;
	--Red-26: #f0717842;
	--White-26: #ffffff42;
	--Yellow-26: #FFCB6B42;
	/* OPACITY - 27% */
	--Background-27: #0F111A45;
	--Foreground-27: #A6ACCD45;
	--Blue-27: #82AAFF45;
	--Black-27: #464B5D45;
	--Cyan-27: #89DDFF45;
	--Green-27: #C3E88D45;
	--Magenta-27: #C792EA45;
	--Red-27: #f0717845;
	--White-27: #ffffff45;
	--Yellow-27: #FFCB6B45;
	/* OPACITY - 28% */
	--Background-28: #0F111A47;
	--Foreground-28: #A6ACCD47;
	--Blue-28: #82AAFF47;
	--Black-28: #464B5D47;
	--Cyan-28: #89DDFF47;
	--Green-28: #C3E88D47;
	--Magenta-28: #C792EA47;
	--Red-28: #f0717847;
	--White-28: #ffffff47;
	--Yellow-28: #FFCB6B47;
	/* OPACITY - 29% */
	--Background-29: #0F111A4A;
	--Foreground-29: #A6ACCD4A;
	--Blue-29: #82AAFF4A;
	--Black-29: #464B5D4A;
	--Cyan-29: #89DDFF4A;
	--Green-29: #C3E88D4A;
	--Magenta-29: #C792EA4A;
	--Red-29: #f071784A;
	--White-29: #ffffff4A;
	--Yellow-29: #FFCB6B4A;
	/* OPACITY - 30% */
	--Background-30: #0F111A4D;
	--Foreground-30: #A6ACCD4D;
	--Blue-30: #82AAFF4D;
	--Black-30: #464B5D4D;
	--Cyan-30: #89DDFF4D;
	--Green-30: #C3E88D4D;
	--Magenta-30: #C792EA4D;
	--Red-30: #f071784D;
	--White-30: #ffffff4D;
	--Yellow-30: #FFCB6B4D;
	/* OPACITY - 31% */
	--Background-31: #0F111A4F;
	--Foreground-31: #A6ACCD4F;
	--Blue-31: #82AAFF4F;
	--Black-31: #464B5D4F;
	--Cyan-31: #89DDFF4F;
	--Green-31: #C3E88D4F;
	--Magenta-31: #C792EA4F;
	--Red-31: #f071784F;
	--White-31: #ffffff4F;
	--Yellow-31: #FFCB6B4F;
	/* OPACITY - 32% */
	--Background-32: #0F111A52;
	--Foreground-32: #A6ACCD52;
	--Blue-32: #82AAFF52;
	--Black-32: #464B5D52;
	--Cyan-32: #89DDFF52;
	--Green-32: #C3E88D52;
	--Magenta-32: #C792EA52;
	--Red-32: #f0717852;
	--White-32: #ffffff52;
	--Yellow-32: #FFCB6B52;
	/* OPACITY - 33% */
	--Background-33: #0F111A54;
	--Foreground-33: #A6ACCD54;
	--Blue-33: #82AAFF54;
	--Black-33: #464B5D54;
	--Cyan-33: #89DDFF54;
	--Green-33: #C3E88D54;
	--Magenta-33: #C792EA54;
	--Red-33: #f0717854;
	--White-33: #ffffff54;
	--Yellow-33: #FFCB6B54;
	/* OPACITY - 34% */
	--Background-34: #0F111A57;
	--Foreground-34: #A6ACCD57;
	--Blue-34: #82AAFF57;
	--Black-34: #464B5D57;
	--Cyan-34: #89DDFF57;
	--Green-34: #C3E88D57;
	--Magenta-34: #C792EA57;
	--Red-34: #f0717857;
	--White-34: #ffffff57;
	--Yellow-34: #FFCB6B57;
	/* OPACITY - 35% */
	--Background-35: #0F111A59;
	--Foreground-35: #A6ACCD59;
	--Blue-35: #82AAFF59;
	--Black-35: #464B5D59;
	--Cyan-35: #89DDFF59;
	--Green-35: #C3E88D59;
	--Magenta-35: #C792EA59;
	--Red-35: #f0717859;
	--White-35: #ffffff59;
	--Yellow-35: #FFCB6B59;
	/* OPACITY - 36% */
	--Background-36: #0F111A5C;
	--Foreground-36: #A6ACCD5C;
	--Blue-36: #82AAFF5C;
	--Black-36: #464B5D5C;
	--Cyan-36: #89DDFF5C;
	--Green-36: #C3E88D5C;
	--Magenta-36: #C792EA5C;
	--Red-36: #f071785C;
	--White-36: #ffffff5C;
	--Yellow-36: #FFCB6B5C;
	/* OPACITY - 37% */
	--Background-37: #0F111A5E;
	--Foreground-37: #A6ACCD5E;
	--Blue-37: #82AAFF5E;
	--Black-37: #464B5D5E;
	--Cyan-37: #89DDFF5E;
	--Green-37: #C3E88D5E;
	--Magenta-37: #C792EA5E;
	--Red-37: #f071785E;
	--White-37: #ffffff5E;
	--Yellow-37: #FFCB6B5E;
	/* OPACITY - 38% */
	--Background-38: #0F111A61;
	--Foreground-38: #A6ACCD61;
	--Blue-38: #82AAFF61;
	--Black-38: #464B5D61;
	--Cyan-38: #89DDFF61;
	--Green-38: #C3E88D61;
	--Magenta-38: #C792EA61;
	--Red-38: #f0717861;
	--White-38: #ffffff61;
	--Yellow-38: #FFCB6B61;
	/* OPACITY - 39% */
	--Background-39: #0F111A63;
	--Foreground-39: #A6ACCD63;
	--Blue-39: #82AAFF63;
	--Black-39: #464B5D63;
	--Cyan-39: #89DDFF63;
	--Green-39: #C3E88D63;
	--Magenta-39: #C792EA63;
	--Red-39: #f0717863;
	--White-39: #ffffff63;
	--Yellow-39: #FFCB6B63;
	/* OPACITY - 40% */
	--Background-40: #0F111A66;
	--Foreground-40: #A6ACCD66;
	--Blue-40: #82AAFF66;
	--Black-40: #464B5D66;
	--Cyan-40: #89DDFF66;
	--Green-40: #C3E88D66;
	--Magenta-40: #C792EA66;
	--Red-40: #f0717866;
	--White-40: #ffffff66;
	--Yellow-40: #FFCB6B66;
	/* OPACITY - 41% */
	--Background-41: #0F111A69;
	--Foreground-41: #A6ACCD69;
	--Blue-41: #82AAFF69;
	--Black-41: #464B5D69;
	--Cyan-41: #89DDFF69;
	--Green-41: #C3E88D69;
	--Magenta-41: #C792EA69;
	--Red-41: #f0717869;
	--White-41: #ffffff69;
	--Yellow-41: #FFCB6B69;
	/* OPACITY - 42% */
	--Background-42: #0F111A6B;
	--Foreground-42: #A6ACCD6B;
	--Blue-42: #82AAFF6B;
	--Black-42: #464B5D6B;
	--Cyan-42: #89DDFF6B;
	--Green-42: #C3E88D6B;
	--Magenta-42: #C792EA6B;
	--Red-42: #f071786B;
	--White-42: #ffffff6B;
	--Yellow-42: #FFCB6B6B;
	/* OPACITY - 43% */
	--Background-43: #0F111A6E;
	--Foreground-43: #A6ACCD6E;
	--Blue-43: #82AAFF6E;
	--Black-43: #464B5D6E;
	--Cyan-43: #89DDFF6E;
	--Green-43: #C3E88D6E;
	--Magenta-43: #C792EA6E;
	--Red-43: #f071786E;
	--White-43: #ffffff6E;
	--Yellow-43: #FFCB6B6E;
	/* OPACITY - 44% */
	--Background-44: #0F111A70;
	--Foreground-44: #A6ACCD70;
	--Blue-44: #82AAFF70;
	--Black-44: #464B5D70;
	--Cyan-44: #89DDFF70;
	--Green-44: #C3E88D70;
	--Magenta-44: #C792EA70;
	--Red-44: #f0717870;
	--White-44: #ffffff70;
	--Yellow-44: #FFCB6B70;
	/* OPACITY - 45% */
	--Background-45: #0F111A73;
	--Foreground-45: #A6ACCD73;
	--Blue-45: #82AAFF73;
	--Black-45: #464B5D73;
	--Cyan-45: #89DDFF73;
	--Green-45: #C3E88D73;
	--Magenta-45: #C792EA73;
	--Red-45: #f0717873;
	--White-45: #ffffff73;
	--Yellow-45: #FFCB6B73;
	/* OPACITY - 46% */
	--Background-46: #0F111A75;
	--Foreground-46: #A6ACCD75;
	--Blue-46: #82AAFF75;
	--Black-46: #464B5D75;
	--Cyan-46: #89DDFF75;
	--Green-46: #C3E88D75;
	--Magenta-46: #C792EA75;
	--Red-46: #f0717875;
	--White-46: #ffffff75;
	--Yellow-46: #FFCB6B75;
	/* OPACITY - 47% */
	--Background-47: #0F111A78;
	--Foreground-47: #A6ACCD78;
	--Blue-47: #82AAFF78;
	--Black-47: #464B5D78;
	--Cyan-47: #89DDFF78;
	--Green-47: #C3E88D78;
	--Magenta-47: #C792EA78;
	--Red-47: #f0717878;
	--White-47: #ffffff78;
	--Yellow-47: #FFCB6B78;
	/* OPACITY - 48% */
	--Background-48: #0F111A7A;
	--Foreground-48: #A6ACCD7A;
	--Blue-48: #82AAFF7A;
	--Black-48: #464B5D7A;
	--Cyan-48: #89DDFF7A;
	--Green-48: #C3E88D7A;
	--Magenta-48: #C792EA7A;
	--Red-48: #f071787A;
	--White-48: #ffffff7A;
	--Yellow-48: #FFCB6B7A;
	/* OPACITY - 49% */
	--Background-49: #0F111A7D;
	--Foreground-49: #A6ACCD7D;
	--Blue-49: #82AAFF7D;
	--Black-49: #464B5D7D;
	--Cyan-49: #89DDFF7D;
	--Green-49: #C3E88D7D;
	--Magenta-49: #C792EA7D;
	--Red-49: #f071787D;
	--White-49: #ffffff7D;
	--Yellow-49: #FFCB6B7D;
	/* OPACITY - 50% */
	--Background-50: #0F111A80;
	--Foreground-50: #A6ACCD80;
	--Blue-50: #82AAFF80;
	--Black-50: #464B5D80;
	--Cyan-50: #89DDFF80;
	--Green-50: #C3E88D80;
	--Magenta-50: #C792EA80;
	--Red-50: #f0717880;
	--White-50: #ffffff80;
	--Yellow-50: #FFCB6B80;
	/* OPACITY - 51% */
	--Background-51: #0F111A82;
	--Foreground-51: #A6ACCD82;
	--Blue-51: #82AAFF82;
	--Black-51: #464B5D82;
	--Cyan-51: #89DDFF82;
	--Green-51: #C3E88D82;
	--Magenta-51: #C792EA82;
	--Red-51: #f0717882;
	--White-51: #ffffff82;
	--Yellow-51: #FFCB6B82;
	/* OPACITY - 52% */
	--Background-52: #0F111A85;
	--Foreground-52: #A6ACCD85;
	--Blue-52: #82AAFF85;
	--Black-52: #464B5D85;
	--Cyan-52: #89DDFF85;
	--Green-52: #C3E88D85;
	--Magenta-52: #C792EA85;
	--Red-52: #f0717885;
	--White-52: #ffffff85;
	--Yellow-52: #FFCB6B85;
	/* OPACITY - 53% */
	--Background-53: #0F111A87;
	--Foreground-53: #A6ACCD87;
	--Blue-53: #82AAFF87;
	--Black-53: #464B5D87;
	--Cyan-53: #89DDFF87;
	--Green-53: #C3E88D87;
	--Magenta-53: #C792EA87;
	--Red-53: #f0717887;
	--White-53: #ffffff87;
	--Yellow-53: #FFCB6B87;
	/* OPACITY - 54% */
	--Background-54: #0F111A8A;
	--Foreground-54: #A6ACCD8A;
	--Blue-54: #82AAFF8A;
	--Black-54: #464B5D8A;
	--Cyan-54: #89DDFF8A;
	--Green-54: #C3E88D8A;
	--Magenta-54: #C792EA8A;
	--Red-54: #f071788A;
	--White-54: #ffffff8A;
	--Yellow-54: #FFCB6B8A;
	/* OPACITY - 55% */
	--Background-55: #0F111A8C;
	--Foreground-55: #A6ACCD8C;
	--Blue-55: #82AAFF8C;
	--Black-55: #464B5D8C;
	--Cyan-55: #89DDFF8C;
	--Green-55: #C3E88D8C;
	--Magenta-55: #C792EA8C;
	--Red-55: #f071788C;
	--White-55: #ffffff8C;
	--Yellow-55: #FFCB6B8C;
	/* OPACITY - 56% */
	--Background-56: #0F111A8F;
	--Foreground-56: #A6ACCD8F;
	--Blue-56: #82AAFF8F;
	--Black-56: #464B5D8F;
	--Cyan-56: #89DDFF8F;
	--Green-56: #C3E88D8F;
	--Magenta-56: #C792EA8F;
	--Red-56: #f071788F;
	--White-56: #ffffff8F;
	--Yellow-56: #FFCB6B8F;
	/* OPACITY - 57% */
	--Background-57: #0F111A91;
	--Foreground-57: #A6ACCD91;
	--Blue-57: #82AAFF91;
	--Black-57: #464B5D91;
	--Cyan-57: #89DDFF91;
	--Green-57: #C3E88D91;
	--Magenta-57: #C792EA91;
	--Red-57: #f0717891;
	--White-57: #ffffff91;
	--Yellow-57: #FFCB6B91;
	/* OPACITY - 58% */
	--Background-58: #0F111A94;
	--Foreground-58: #A6ACCD94;
	--Blue-58: #82AAFF94;
	--Black-58: #464B5D94;
	--Cyan-58: #89DDFF94;
	--Green-58: #C3E88D94;
	--Magenta-58: #C792EA94;
	--Red-58: #f0717894;
	--White-58: #ffffff94;
	--Yellow-58: #FFCB6B94;
	/* OPACITY - 59% */
	--Background-59: #0F111A96;
	--Foreground-59: #A6ACCD96;
	--Blue-59: #82AAFF96;
	--Black-59: #464B5D96;
	--Cyan-59: #89DDFF96;
	--Green-59: #C3E88D96;
	--Magenta-59: #C792EA96;
	--Red-59: #f0717896;
	--White-59: #ffffff96;
	--Yellow-59: #FFCB6B96;
	/* OPACITY - 60% */
	--Background-60: #0F111A99;
	--Foreground-60: #A6ACCD99;
	--Blue-60: #82AAFF99;
	--Black-60: #464B5D99;
	--Cyan-60: #89DDFF99;
	--Green-60: #C3E88D99;
	--Magenta-60: #C792EA99;
	--Red-60: #f0717899;
	--White-60: #ffffff99;
	--Yellow-60: #FFCB6B99;
	/* OPACITY - 61% */
	--Background-61: #0F111A9C;
	--Foreground-61: #A6ACCD9C;
	--Blue-61: #82AAFF9C;
	--Black-61: #464B5D9C;
	--Cyan-61: #89DDFF9C;
	--Green-61: #C3E88D9C;
	--Magenta-61: #C792EA9C;
	--Red-61: #f071789C;
	--White-61: #ffffff9C;
	--Yellow-61: #FFCB6B9C;
	/* OPACITY - 62% */
	--Background-62: #0F111A9E;
	--Foreground-62: #A6ACCD9E;
	--Blue-62: #82AAFF9E;
	--Black-62: #464B5D9E;
	--Cyan-62: #89DDFF9E;
	--Green-62: #C3E88D9E;
	--Magenta-62: #C792EA9E;
	--Red-62: #f071789E;
	--White-62: #ffffff9E;
	--Yellow-62: #FFCB6B9E;
	/* OPACITY - 63% */
	--Background-63: #0F111AA1;
	--Foreground-63: #A6ACCDA1;
	--Blue-63: #82AAFFA1;
	--Black-63: #464B5DA1;
	--Cyan-63: #89DDFFA1;
	--Green-63: #C3E88DA1;
	--Magenta-63: #C792EAA1;
	--Red-63: #f07178A1;
	--White-63: #ffffffA1;
	--Yellow-63: #FFCB6BA1;
	/* OPACITY - 64% */
	--Background-64: #0F111AA3;
	--Foreground-64: #A6ACCDA3;
	--Blue-64: #82AAFFA3;
	--Black-64: #464B5DA3;
	--Cyan-64: #89DDFFA3;
	--Green-64: #C3E88DA3;
	--Magenta-64: #C792EAA3;
	--Red-64: #f07178A3;
	--White-64: #ffffffA3;
	--Yellow-64: #FFCB6BA3;
	/* OPACITY - 65% */
	--Background-65: #0F111AA6;
	--Foreground-65: #A6ACCDA6;
	--Blue-65: #82AAFFA6;
	--Black-65: #464B5DA6;
	--Cyan-65: #89DDFFA6;
	--Green-65: #C3E88DA6;
	--Magenta-65: #C792EAA6;
	--Red-65: #f07178A6;
	--White-65: #ffffffA6;
	--Yellow-65: #FFCB6BA6;
	/* OPACITY - 66% */
	--Background-66: #0F111AA8;
	--Foreground-66: #A6ACCDA8;
	--Blue-66: #82AAFFA8;
	--Black-66: #464B5DA8;
	--Cyan-66: #89DDFFA8;
	--Green-66: #C3E88DA8;
	--Magenta-66: #C792EAA8;
	--Red-66: #f07178A8;
	--White-66: #ffffffA8;
	--Yellow-66: #FFCB6BA8;
	/* OPACITY - 67% */
	--Background-67: #0F111AAB;
	--Foreground-67: #A6ACCDAB;
	--Blue-67: #82AAFFAB;
	--Black-67: #464B5DAB;
	--Cyan-67: #89DDFFAB;
	--Green-67: #C3E88DAB;
	--Magenta-67: #C792EAAB;
	--Red-67: #f07178AB;
	--White-67: #ffffffAB;
	--Yellow-67: #FFCB6BAB;
	/* OPACITY - 68% */
	--Background-68: #0F111AAD;
	--Foreground-68: #A6ACCDAD;
	--Blue-68: #82AAFFAD;
	--Black-68: #464B5DAD;
	--Cyan-68: #89DDFFAD;
	--Green-68: #C3E88DAD;
	--Magenta-68: #C792EAAD;
	--Red-68: #f07178AD;
	--White-68: #ffffffAD;
	--Yellow-68: #FFCB6BAD;
	/* OPACITY - 69% */
	--Background-69: #0F111AB0;
	--Foreground-69: #A6ACCDB0;
	--Blue-69: #82AAFFB0;
	--Black-69: #464B5DB0;
	--Cyan-69: #89DDFFB0;
	--Green-69: #C3E88DB0;
	--Magenta-69: #C792EAB0;
	--Red-69: #f07178B0;
	--White-69: #ffffffB0;
	--Yellow-69: #FFCB6BB0;
	/* OPACITY - 70% */
	--Background-70: #0F111AB3;
	--Foreground-70: #A6ACCDB3;
	--Blue-70: #82AAFFB3;
	--Black-70: #464B5DB3;
	--Cyan-70: #89DDFFB3;
	--Green-70: #C3E88DB3;
	--Magenta-70: #C792EAB3;
	--Red-70: #f07178B3;
	--White-70: #ffffffB3;
	--Yellow-70: #FFCB6BB3;
	/* OPACITY - 71% */
	--Background-71: #0F111AB5;
	--Foreground-71: #A6ACCDB5;
	--Blue-71: #82AAFFB5;
	--Black-71: #464B5DB5;
	--Cyan-71: #89DDFFB5;
	--Green-71: #C3E88DB5;
	--Magenta-71: #C792EAB5;
	--Red-71: #f07178B5;
	--White-71: #ffffffB5;
	--Yellow-71: #FFCB6BB5;
	/* OPACITY - 72% */
	--Background-72: #0F111AB8;
	--Foreground-72: #A6ACCDB8;
	--Blue-72: #82AAFFB8;
	--Black-72: #464B5DB8;
	--Cyan-72: #89DDFFB8;
	--Green-72: #C3E88DB8;
	--Magenta-72: #C792EAB8;
	--Red-72: #f07178B8;
	--White-72: #ffffffB8;
	--Yellow-72: #FFCB6BB8;
	/* OPACITY - 73% */
	--Background-73: #0F111ABA;
	--Foreground-73: #A6ACCDBA;
	--Blue-73: #82AAFFBA;
	--Black-73: #464B5DBA;
	--Cyan-73: #89DDFFBA;
	--Green-73: #C3E88DBA;
	--Magenta-73: #C792EABA;
	--Red-73: #f07178BA;
	--White-73: #ffffffBA;
	--Yellow-73: #FFCB6BBA;
	/* OPACITY - 74% */
	--Background-74: #0F111ABD;
	--Foreground-74: #A6ACCDBD;
	--Blue-74: #82AAFFBD;
	--Black-74: #464B5DBD;
	--Cyan-74: #89DDFFBD;
	--Green-74: #C3E88DBD;
	--Magenta-74: #C792EABD;
	--Red-74: #f07178BD;
	--White-74: #ffffffBD;
	--Yellow-74: #FFCB6BBD;
	/* OPACITY - 75% */
	--Background-75: #0F111ABF;
	--Foreground-75: #A6ACCDBF;
	--Blue-75: #82AAFFBF;
	--Black-75: #464B5DBF;
	--Cyan-75: #89DDFFBF;
	--Green-75: #C3E88DBF;
	--Magenta-75: #C792EABF;
	--Red-75: #f07178BF;
	--White-75: #ffffffBF;
	--Yellow-75: #FFCB6BBF;
	/* OPACITY - 76% */
	--Background-76: #0F111AC2;
	--Foreground-76: #A6ACCDC2;
	--Blue-76: #82AAFFC2;
	--Black-76: #464B5DC2;
	--Cyan-76: #89DDFFC2;
	--Green-76: #C3E88DC2;
	--Magenta-76: #C792EAC2;
	--Red-76: #f07178C2;
	--White-76: #ffffffC2;
	--Yellow-76: #FFCB6BC2;
	/* OPACITY - 77% */
	--Background-77: #0F111AC4;
	--Foreground-77: #A6ACCDC4;
	--Blue-77: #82AAFFC4;
	--Black-77: #464B5DC4;
	--Cyan-77: #89DDFFC4;
	--Green-77: #C3E88DC4;
	--Magenta-77: #C792EAC4;
	--Red-77: #f07178C4;
	--White-77: #ffffffC4;
	--Yellow-77: #FFCB6BC4;
	/* OPACITY - 78% */
	--Background-78: #0F111AC7;
	--Foreground-78: #A6ACCDC7;
	--Blue-78: #82AAFFC7;
	--Black-78: #464B5DC7;
	--Cyan-78: #89DDFFC7;
	--Green-78: #C3E88DC7;
	--Magenta-78: #C792EAC7;
	--Red-78: #f07178C7;
	--White-78: #ffffffC7;
	--Yellow-78: #FFCB6BC7;
	/* OPACITY - 79% */
	--Background-79: #0F111AC9;
	--Foreground-79: #A6ACCDC9;
	--Blue-79: #82AAFFC9;
	--Black-79: #464B5DC9;
	--Cyan-79: #89DDFFC9;
	--Green-79: #C3E88DC9;
	--Magenta-79: #C792EAC9;
	--Red-79: #f07178C9;
	--White-79: #ffffffC9;
	--Yellow-79: #FFCB6BC9;
	/* OPACITY - 80% */
	--Background-80: #0F111ACC;
	--Foreground-80: #A6ACCDCC;
	--Blue-80: #82AAFFCC;
	--Black-80: #464B5DCC;
	--Cyan-80: #89DDFFCC;
	--Green-80: #C3E88DCC;
	--Magenta-80: #C792EACC;
	--Red-80: #f07178CC;
	--White-80: #ffffffCC;
	--Yellow-80: #FFCB6BCC;
	/* OPACITY - 81% */
	--Background-81: #0F111ACF;
	--Foreground-81: #A6ACCDCF;
	--Blue-81: #82AAFFCF;
	--Black-81: #464B5DCF;
	--Cyan-81: #89DDFFCF;
	--Green-81: #C3E88DCF;
	--Magenta-81: #C792EACF;
	--Red-81: #f07178CF;
	--White-81: #ffffffCF;
	--Yellow-81: #FFCB6BCF;
	/* OPACITY - 82% */
	--Background-82: #0F111AD1;
	--Foreground-82: #A6ACCDD1;
	--Blue-82: #82AAFFD1;
	--Black-82: #464B5DD1;
	--Cyan-82: #89DDFFD1;
	--Green-82: #C3E88DD1;
	--Magenta-82: #C792EAD1;
	--Red-82: #f07178D1;
	--White-82: #ffffffD1;
	--Yellow-82: #FFCB6BD1;
	/* OPACITY - 83% */
	--Background-83: #0F111AD4;
	--Foreground-83: #A6ACCDD4;
	--Blue-83: #82AAFFD4;
	--Black-83: #464B5DD4;
	--Cyan-83: #89DDFFD4;
	--Green-83: #C3E88DD4;
	--Magenta-83: #C792EAD4;
	--Red-83: #f07178D4;
	--White-83: #ffffffD4;
	--Yellow-83: #FFCB6BD4;
	/* OPACITY - 84% */
	--Background-84: #0F111AD6;
	--Foreground-84: #A6ACCDD6;
	--Blue-84: #82AAFFD6;
	--Black-84: #464B5DD6;
	--Cyan-84: #89DDFFD6;
	--Green-84: #C3E88DD6;
	--Magenta-84: #C792EAD6;
	--Red-84: #f07178D6;
	--White-84: #ffffffD6;
	--Yellow-84: #FFCB6BD6;
	/* OPACITY - 85% */
	--Background-85: #0F111AD9;
	--Foreground-85: #A6ACCDD9;
	--Blue-85: #82AAFFD9;
	--Black-85: #464B5DD9;
	--Cyan-85: #89DDFFD9;
	--Green-85: #C3E88DD9;
	--Magenta-85: #C792EAD9;
	--Red-85: #f07178D9;
	--White-85: #ffffffD9;
	--Yellow-85: #FFCB6BD9;
	/* OPACITY - 86% */
	--Background-86: #0F111ADB;
	--Foreground-86: #A6ACCDDB;
	--Blue-86: #82AAFFDB;
	--Black-86: #464B5DDB;
	--Cyan-86: #89DDFFDB;
	--Green-86: #C3E88DDB;
	--Magenta-86: #C792EADB;
	--Red-86: #f07178DB;
	--White-86: #ffffffDB;
	--Yellow-86: #FFCB6BDB;
	/* OPACITY - 87% */
	--Background-87: #0F111ADE;
	--Foreground-87: #A6ACCDDE;
	--Blue-87: #82AAFFDE;
	--Black-87: #464B5DDE;
	--Cyan-87: #89DDFFDE;
	--Green-87: #C3E88DDE;
	--Magenta-87: #C792EADE;
	--Red-87: #f07178DE;
	--White-87: #ffffffDE;
	--Yellow-87: #FFCB6BDE;
	/* OPACITY - 88% */
	--Background-88: #0F111AE0;
	--Foreground-88: #A6ACCDE0;
	--Blue-88: #82AAFFE0;
	--Black-88: #464B5DE0;
	--Cyan-88: #89DDFFE0;
	--Green-88: #C3E88DE0;
	--Magenta-88: #C792EAE0;
	--Red-88: #f07178E0;
	--White-88: #ffffffE0;
	--Yellow-88: #FFCB6BE0;
	/* OPACITY - 89% */
	--Background-89: #0F111AE3;
	--Foreground-89: #A6ACCDE3;
	--Blue-89: #82AAFFE3;
	--Black-89: #464B5DE3;
	--Cyan-89: #89DDFFE3;
	--Green-89: #C3E88DE3;
	--Magenta-89: #C792EAE3;
	--Red-89: #f07178E3;
	--White-89: #ffffffE3;
	--Yellow-89: #FFCB6BE3;
	/* OPACITY - 90% */
	--Background-90: #0F111AE6;
	--Foreground-90: #A6ACCDE6;
	--Blue-90: #82AAFFE6;
	--Black-90: #464B5DE6;
	--Cyan-90: #89DDFFE6;
	--Green-90: #C3E88DE6;
	--Magenta-90: #C792EAE6;
	--Red-90: #f07178E6;
	--White-90: #ffffffE6;
	--Yellow-90: #FFCB6BE6;
	/* OPACITY - 91% */
	--Background-91: #0F111AE8;
	--Foreground-91: #A6ACCDE8;
	--Blue-91: #82AAFFE8;
	--Black-91: #464B5DE8;
	--Cyan-91: #89DDFFE8;
	--Green-91: #C3E88DE8;
	--Magenta-91: #C792EAE8;
	--Red-91: #f07178E8;
	--White-91: #ffffffE8;
	--Yellow-91: #FFCB6BE8;
	/* OPACITY - 92% */
	--Background-92: #0F111AEB;
	--Foreground-92: #A6ACCDEB;
	--Blue-92: #82AAFFEB;
	--Black-92: #464B5DEB;
	--Cyan-92: #89DDFFEB;
	--Green-92: #C3E88DEB;
	--Magenta-92: #C792EAEB;
	--Red-92: #f07178EB;
	--White-92: #ffffffEB;
	--Yellow-92: #FFCB6BEB;
	/* OPACITY - 93% */
	--Background-93: #0F111AED;
	--Foreground-93: #A6ACCDED;
	--Blue-93: #82AAFFED;
	--Black-93: #464B5DED;
	--Cyan-93: #89DDFFED;
	--Green-93: #C3E88DED;
	--Magenta-93: #C792EAED;
	--Red-93: #f07178ED;
	--White-93: #ffffffED;
	--Yellow-93: #FFCB6BED;
	/* OPACITY - 94% */
	--Background-94: #0F111AF0;
	--Foreground-94: #A6ACCDF0;
	--Blue-94: #82AAFFF0;
	--Black-94: #464B5DF0;
	--Cyan-94: #89DDFFF0;
	--Green-94: #C3E88DF0;
	--Magenta-94: #C792EAF0;
	--Red-94: #f07178F0;
	--White-94: #ffffffF0;
	--Yellow-94: #FFCB6BF0;
	/* OPACITY - 95% */
	--Background-95: #0F111AF2;
	--Foreground-95: #A6ACCDF2;
	--Blue-95: #82AAFFF2;
	--Black-95: #464B5DF2;
	--Cyan-95: #89DDFFF2;
	--Green-95: #C3E88DF2;
	--Magenta-95: #C792EAF2;
	--Red-95: #f07178F2;
	--White-95: #ffffffF2;
	--Yellow-95: #FFCB6BF2;
	/* OPACITY - 96% */
	--Background-96: #0F111AF5;
	--Foreground-96: #A6ACCDF5;
	--Blue-96: #82AAFFF5;
	--Black-96: #464B5DF5;
	--Cyan-96: #89DDFFF5;
	--Green-96: #C3E88DF5;
	--Magenta-96: #C792EAF5;
	--Red-96: #f07178F5;
	--White-96: #ffffffF5;
	--Yellow-96: #FFCB6BF5;
	/* OPACITY - 97% */
	--Background-97: #0F111AF7;
	--Foreground-97: #A6ACCDF7;
	--Blue-97: #82AAFFF7;
	--Black-97: #464B5DF7;
	--Cyan-97: #89DDFFF7;
	--Green-97: #C3E88DF7;
	--Magenta-97: #C792EAF7;
	--Red-97: #f07178F7;
	--White-97: #ffffffF7;
	--Yellow-97: #FFCB6BF7;
	/* OPACITY - 98% */
	--Background-98: #0F111AFA;
	--Foreground-98: #A6ACCDFA;
	--Blue-98: #82AAFFFA;
	--Black-98: #464B5DFA;
	--Cyan-98: #89DDFFFA;
	--Green-98: #C3E88DFA;
	--Magenta-98: #C792EAFA;
	--Red-98: #f07178FA;
	--White-98: #ffffffFA;
	--Yellow-98: #FFCB6BFA;
	/* OPACITY - 99% */
	--Background-99: #0F111AFC;
	--Foreground-99: #A6ACCDFC;
	--Blue-99: #82AAFFFC;
	--Black-99: #464B5DFC;
	--Cyan-99: #89DDFFFC;
	--Green-99: #C3E88DFC;
	--Magenta-99: #C792EAFC;
	--Red-99: #f07178FC;
	--White-99: #ffffffFC;
	--Yellow-99: #FFCB6BFC;
	/* OPACITY - 100% */
	--Background-100: #0F111AFF;
	--Foreground-100: #A6ACCDFF;
	--Blue-100: #82AAFFFF;
	--Black-100: #464B5DFF;
	--Cyan-100: #89DDFFFF;
	--Green-100: #C3E88DFF;
	--Magenta-100: #C792EAFF;
	--Red-100: #f07178FF;
	--White-100: #ffffffFF;
	--Yellow-100: #FFCB6BFF;
}
