@import url(ColorBank.css);
@import url(urlbar.css);
@import url(navbar.css);
@import url(tabsbar.css);
@import url(popuppanels.css);

:root {
    --focus-outline-color: var(--Blue-100) !important;
}



/* :root {
    --button-bgcolor: var(--Black-100);
    --button-hover-bgcolor: rgb(82, 82, 94);
    --button-active-bgcolor: rgb(91, 91, 102);
    --button-primary-bgcolor: rgb(0, 221, 255);
    --button-primary-hover-bgcolor: var(--Cyan-100);
    --button-primary-active-bgcolor: rgb(170, 242, 255);
    --button-primary-color: var(--Black-100);
    --error-text-color: var(--Red-100);
    --input-bgcolor: rgb(66, 65, 77);
    --input-color: var(--Foreground-100);
    --input-border-color: rgb(143, 143, 157);
    --input-error-border-color: var(--Red-100);
    --zoom-controls-bgcolor: rgb(74, 74, 85);
    --autocomplete-popup-separator-color: rgb(82, 82, 94);
    --panel-banner-item-update-supported-bgcolor: rgb(84, 255, 189);
    --panel-banner-item-info-icon-bgcolor: var(--Cyan-100);
    --tab-icon-overlay-stroke: rgb(66, 65, 77);
    --tab-icon-overlay-fill: var(--Foreground-100);
    --panel-item-hover-bgcolor: color-mix(in srgb, currentColor 9%, transparent);
    --arrowpanel-dimmed-further: color-mix(in srgb, currentColor 14%, transparent);
    --panel-item-active-bgcolor: color-mix(in srgb, currentColor 25%, transparent);
    --urlbar-icon-fill-opacity: 1;
    --panel-separator-zap-gradient: linear-gradient(90deg, #9059FF 0%, #FF4AA2 52.08%, #FFBD4F 100%);
    --lwt-accent-color: rgb(28, 27, 34);
    --lwt-text-color: rgba(251, 251, 254);
    --arrowpanel-background: rgb(66, 65, 77);
    --panel-disabled-color: rgba(251, 251, 254, 0.5);
    --panel-description-color: rgba(251, 251, 254, 0.7);
    --arrowpanel-color: rgba(251, 251, 254, 1);
    --arrowpanel-border-color: rgb(82, 82, 94);
    --toolbar-field-background-color: rgb(28, 27, 34);
    --toolbar-field-color: rgba(251, 251, 254, 1);
    --toolbar-field-border-color: rgba(0, 0, 0, 0);
    --toolbar-field-focus-background-color: rgba(66, 65, 77, 1);
    --toolbar-field-focus-color: rgba(251, 251, 254, 1);
    --lwt-tab-text: var(--Foreground-100);
    --toolbar-bgcolor: var(--Black-100);
    --toolbar-color: var(--Foreground-100);
    --chrome-content-separator-color: rgb(12, 12, 13);
    --toolbarbutton-icon-fill: var(--Foreground-100);
    --lwt-selected-tab-background-color: rgb(66, 65, 77);
    --autocomplete-popup-highlight-background: var(--Black-100);

    --toolbar-bgcolor: var(--toolbar-non-lwt-bgcolor);
    --toolbar-bgimage: var(--toolbar-non-lwt-bgimage);
    --toolbar-color: var(--toolbar-non-lwt-textcolor);
    --tabs-navbar-shadow-size: 1px;
    --panel-shortcut-color: inherit;
    --panelui-subview-transition-duration: 150ms;
    --short-notification-background: #0250BB;
    --short-notification-gradient: #9059FF;
    --button-bgcolor: color-mix(in srgb, currentColor 13%, transparent);
    --button-hover-bgcolor: color-mix(in srgb, currentColor 17%, transparent);
    --button-active-bgcolor: color-mix(in srgb, currentColor 30%, transparent);
    --button-color: currentColor;
    --button-primary-bgcolor: -moz-accent-color;
    --button-primary-hover-bgcolor: color-mix(in srgb, black 10%, -moz-accent-color);
    --button-primary-active-bgcolor: color-mix(in srgb, black 20%, -moz-accent-color);
    --button-primary-color: -moz-accent-color-foreground;
    --buttons-destructive-bgcolor: #e22850;
    --buttons-destructive-hover-bgcolor: #c50042;
    --buttons-destructive-active-bgcolor: #810220;
    --buttons-destructive-color: #fbfbfe;
    --checkbox-border-color: var(--input-border-color);
    --checkbox-unchecked-bgcolor: var(--button-bgcolor);
    --checkbox-unchecked-hover-bgcolor: var(--button-hover-bgcolor);
    --checkbox-unchecked-active-bgcolor: var(--button-active-bgcolor);
    --checkbox-checked-border-color: transparent;
    --checkbox-checked-bgcolor: var(--button-primary-bgcolor);
    --checkbox-checked-color: var(--button-primary-color);
    --checkbox-checked-hover-bgcolor: var(--button-primary-hover-bgcolor);
    --checkbox-checked-active-bgcolor: var(--button-primary-active-bgcolor);
    --autocomplete-popup-hover-background: var(--arrowpanel-dimmed);
    --autocomplete-popup-separator-color: color-mix(in srgb, currentColor 14%, transparent);
    --identity-box-margin-inline: 4px;
    --urlbar-box-bgcolor: var(--button-bgcolor);
    --urlbar-box-focus-bgcolor: var(--button-bgcolor);
    --urlbar-box-hover-bgcolor: var(--button-hover-bgcolor);
    --urlbar-box-active-bgcolor: var(--button-active-bgcolor);
    --urlbar-box-text-color: inherit;
    --urlbar-box-hover-text-color: var(--urlbar-box-text-color);
    --urlbar-min-height: 32px;
    --urlbar-icon-fill-opacity: 0.9;
    --urlbar-icon-padding: 6px;
    --urlbar-icon-border-radius: calc(var(--toolbarbutton-border-radius) - 1px);
    --urlbar-popup-url-color: -moz-nativehyperlinktext;
    --lwt-additional-images: none;
    --lwt-background-alignment: right top;
    --lwt-background-tiling: no-repeat;
    --lwt-brighttext-url-color: #00ddff;
} */