:root{
    /* OPACITY - 01% */
    --Background1-01:#282a3603;
    --Background2-01:#44475a03;
    --Foreground1-01:#f8f8f203;
    --Comment-01:#6272a403;
    --Cyan-01:#8be9fd03;
    --Green-01:#50fa7b03;
    --Orange-01:#ffb86c03;
    --Pink-01:#ff79c603;
    --Purple-01:#bd93f903;
    --Red-01:#ff555503;
    --Yellow-01:#f1fa8c03;
    /* OPACITY - 02% */
    --Background1-02:#282a3605;
    --Background2-02:#44475a05;
    --Foreground1-02:#f8f8f205;
    --Comment-02:#6272a405;
    --Cyan-02:#8be9fd05;
    --Green-02:#50fa7b05;
    --Orange-02:#ffb86c05;
    --Pink-02:#ff79c605;
    --Purple-02:#bd93f905;
    --Red-02:#ff555505;
    --Yellow-02:#f1fa8c05;
    /* OPACITY - 03% */
    --Background1-03:#282a3608;
    --Background2-03:#44475a08;
    --Foreground1-03:#f8f8f208;
    --Comment-03:#6272a408;
    --Cyan-03:#8be9fd08;
    --Green-03:#50fa7b08;
    --Orange-03:#ffb86c08;
    --Pink-03:#ff79c608;
    --Purple-03:#bd93f908;
    --Red-03:#ff555508;
    --Yellow-03:#f1fa8c08;
    /* OPACITY - 04% */
    --Background1-04:#282a360a;
    --Background2-04:#44475a0a;
    --Foreground1-04:#f8f8f20a;
    --Comment-04:#6272a40a;
    --Cyan-04:#8be9fd0a;
    --Green-04:#50fa7b0a;
    --Orange-04:#ffb86c0a;
    --Pink-04:#ff79c60a;
    --Purple-04:#bd93f90a;
    --Red-04:#ff55550a;
    --Yellow-04:#f1fa8c0a;
    /* OPACITY - 05% */
    --Background1-05:#282a360d;
    --Background2-05:#44475a0d;
    --Foreground1-05:#f8f8f20d;
    --Comment-05:#6272a40d;
    --Cyan-05:#8be9fd0d;
    --Green-05:#50fa7b0d;
    --Orange-05:#ffb86c0d;
    --Pink-05:#ff79c60d;
    --Purple-05:#bd93f90d;
    --Red-05:#ff55550d;
    --Yellow-05:#f1fa8c0d;
    /* OPACITY - 06% */
    --Background1-06:#282a360f;
    --Background2-06:#44475a0f;
    --Foreground1-06:#f8f8f20f;
    --Comment-06:#6272a40f;
    --Cyan-06:#8be9fd0f;
    --Green-06:#50fa7b0f;
    --Orange-06:#ffb86c0f;
    --Pink-06:#ff79c60f;
    --Purple-06:#bd93f90f;
    --Red-06:#ff55550f;
    --Yellow-06:#f1fa8c0f;
    /* OPACITY - 07% */
    --Background1-07:#282a3612;
    --Background2-07:#44475a12;
    --Foreground1-07:#f8f8f212;
    --Comment-07:#6272a412;
    --Cyan-07:#8be9fd12;
    --Green-07:#50fa7b12;
    --Orange-07:#ffb86c12;
    --Pink-07:#ff79c612;
    --Purple-07:#bd93f912;
    --Red-07:#ff555512;
    --Yellow-07:#f1fa8c12;
    /* OPACITY - 08% */
    --Background1-08:#282a3614;
    --Background2-08:#44475a14;
    --Foreground1-08:#f8f8f214;
    --Comment-08:#6272a414;
    --Cyan-08:#8be9fd14;
    --Green-08:#50fa7b14;
    --Orange-08:#ffb86c14;
    --Pink-08:#ff79c614;
    --Purple-08:#bd93f914;
    --Red-08:#ff555514;
    --Yellow-08:#f1fa8c14;
    /* OPACITY - 09% */
    --Background1-09:#282a3617;
    --Background2-09:#44475a17;
    --Foreground1-09:#f8f8f217;
    --Comment-09:#6272a417;
    --Cyan-09:#8be9fd17;
    --Green-09:#50fa7b17;
    --Orange-09:#ffb86c17;
    --Pink-09:#ff79c617;
    --Purple-09:#bd93f917;
    --Red-09:#ff555517;
    --Yellow-09:#f1fa8c17;
    /* OPACITY - 10% */
    --Background1-10:#282a361a;
    --Background2-10:#44475a1a;
    --Foreground1-10:#f8f8f21a;
    --Comment-10:#6272a41a;
    --Cyan-10:#8be9fd1a;
    --Green-10:#50fa7b1a;
    --Orange-10:#ffb86c1a;
    --Pink-10:#ff79c61a;
    --Purple-10:#bd93f91a;
    --Red-10:#ff55551a;
    --Yellow-10:#f1fa8c1a;
    /* OPACITY - 11% */
    --Background1-11:#282a361c;
    --Background2-11:#44475a1c;
    --Foreground1-11:#f8f8f21c;
    --Comment-11:#6272a41c;
    --Cyan-11:#8be9fd1c;
    --Green-11:#50fa7b1c;
    --Orange-11:#ffb86c1c;
    --Pink-11:#ff79c61c;
    --Purple-11:#bd93f91c;
    --Red-11:#ff55551c;
    --Yellow-11:#f1fa8c1c;
    /* OPACITY - 12% */
    --Background1-12:#282a361f;
    --Background2-12:#44475a1f;
    --Foreground1-12:#f8f8f21f;
    --Comment-12:#6272a41f;
    --Cyan-12:#8be9fd1f;
    --Green-12:#50fa7b1f;
    --Orange-12:#ffb86c1f;
    --Pink-12:#ff79c61f;
    --Purple-12:#bd93f91f;
    --Red-12:#ff55551f;
    --Yellow-12:#f1fa8c1f;
    /* OPACITY - 13% */
    --Background1-13:#282a3621;
    --Background2-13:#44475a21;
    --Foreground1-13:#f8f8f221;
    --Comment-13:#6272a421;
    --Cyan-13:#8be9fd21;
    --Green-13:#50fa7b21;
    --Orange-13:#ffb86c21;
    --Pink-13:#ff79c621;
    --Purple-13:#bd93f921;
    --Red-13:#ff555521;
    --Yellow-13:#f1fa8c21;
    /* OPACITY - 14% */
    --Background1-14:#282a3624;
    --Background2-14:#44475a24;
    --Foreground1-14:#f8f8f224;
    --Comment-14:#6272a424;
    --Cyan-14:#8be9fd24;
    --Green-14:#50fa7b24;
    --Orange-14:#ffb86c24;
    --Pink-14:#ff79c624;
    --Purple-14:#bd93f924;
    --Red-14:#ff555524;
    --Yellow-14:#f1fa8c24;
    /* OPACITY - 15% */
    --Background1-15:#282a3626;
    --Background2-15:#44475a26;
    --Foreground1-15:#f8f8f226;
    --Comment-15:#6272a426;
    --Cyan-15:#8be9fd26;
    --Green-15:#50fa7b26;
    --Orange-15:#ffb86c26;
    --Pink-15:#ff79c626;
    --Purple-15:#bd93f926;
    --Red-15:#ff555526;
    --Yellow-15:#f1fa8c26;
    /* OPACITY - 16% */
    --Background1-16:#282a3629;
    --Background2-16:#44475a29;
    --Foreground1-16:#f8f8f229;
    --Comment-16:#6272a429;
    --Cyan-16:#8be9fd29;
    --Green-16:#50fa7b29;
    --Orange-16:#ffb86c29;
    --Pink-16:#ff79c629;
    --Purple-16:#bd93f929;
    --Red-16:#ff555529;
    --Yellow-16:#f1fa8c29;
    /* OPACITY - 17% */
    --Background1-17:#282a362b;
    --Background2-17:#44475a2b;
    --Foreground1-17:#f8f8f22b;
    --Comment-17:#6272a42b;
    --Cyan-17:#8be9fd2b;
    --Green-17:#50fa7b2b;
    --Orange-17:#ffb86c2b;
    --Pink-17:#ff79c62b;
    --Purple-17:#bd93f92b;
    --Red-17:#ff55552b;
    --Yellow-17:#f1fa8c2b;
    /* OPACITY - 18% */
    --Background1-18:#282a362e;
    --Background2-18:#44475a2e;
    --Foreground1-18:#f8f8f22e;
    --Comment-18:#6272a42e;
    --Cyan-18:#8be9fd2e;
    --Green-18:#50fa7b2e;
    --Orange-18:#ffb86c2e;
    --Pink-18:#ff79c62e;
    --Purple-18:#bd93f92e;
    --Red-18:#ff55552e;
    --Yellow-18:#f1fa8c2e;
    /* OPACITY - 19% */
    --Background1-19:#282a3630;
    --Background2-19:#44475a30;
    --Foreground1-19:#f8f8f230;
    --Comment-19:#6272a430;
    --Cyan-19:#8be9fd30;
    --Green-19:#50fa7b30;
    --Orange-19:#ffb86c30;
    --Pink-19:#ff79c630;
    --Purple-19:#bd93f930;
    --Red-19:#ff555530;
    --Yellow-19:#f1fa8c30;
    /* OPACITY - 20% */
    --Background1-20:#282a3633;
    --Background2-20:#44475a33;
    --Foreground1-20:#f8f8f233;
    --Comment-20:#6272a433;
    --Cyan-20:#8be9fd33;
    --Green-20:#50fa7b33;
    --Orange-20:#ffb86c33;
    --Pink-20:#ff79c633;
    --Purple-20:#bd93f933;
    --Red-20:#ff555533;
    --Yellow-20:#f1fa8c33;
    /* OPACITY - 21% */
    --Background1-21:#282a3636;
    --Background2-21:#44475a36;
    --Foreground1-21:#f8f8f236;
    --Comment-21:#6272a436;
    --Cyan-21:#8be9fd36;
    --Green-21:#50fa7b36;
    --Orange-21:#ffb86c36;
    --Pink-21:#ff79c636;
    --Purple-21:#bd93f936;
    --Red-21:#ff555536;
    --Yellow-21:#f1fa8c36;
    /* OPACITY - 22% */
    --Background1-22:#282a3638;
    --Background2-22:#44475a38;
    --Foreground1-22:#f8f8f238;
    --Comment-22:#6272a438;
    --Cyan-22:#8be9fd38;
    --Green-22:#50fa7b38;
    --Orange-22:#ffb86c38;
    --Pink-22:#ff79c638;
    --Purple-22:#bd93f938;
    --Red-22:#ff555538;
    --Yellow-22:#f1fa8c38;
    /* OPACITY - 23% */
    --Background1-23:#282a363b;
    --Background2-23:#44475a3b;
    --Foreground1-23:#f8f8f23b;
    --Comment-23:#6272a43b;
    --Cyan-23:#8be9fd3b;
    --Green-23:#50fa7b3b;
    --Orange-23:#ffb86c3b;
    --Pink-23:#ff79c63b;
    --Purple-23:#bd93f93b;
    --Red-23:#ff55553b;
    --Yellow-23:#f1fa8c3b;
    /* OPACITY - 24% */
    --Background1-24:#282a363d;
    --Background2-24:#44475a3d;
    --Foreground1-24:#f8f8f23d;
    --Comment-24:#6272a43d;
    --Cyan-24:#8be9fd3d;
    --Green-24:#50fa7b3d;
    --Orange-24:#ffb86c3d;
    --Pink-24:#ff79c63d;
    --Purple-24:#bd93f93d;
    --Red-24:#ff55553d;
    --Yellow-24:#f1fa8c3d;
    /* OPACITY - 25% */
    --Background1-25:#282a3640;
    --Background2-25:#44475a40;
    --Foreground1-25:#f8f8f240;
    --Comment-25:#6272a440;
    --Cyan-25:#8be9fd40;
    --Green-25:#50fa7b40;
    --Orange-25:#ffb86c40;
    --Pink-25:#ff79c640;
    --Purple-25:#bd93f940;
    --Red-25:#ff555540;
    --Yellow-25:#f1fa8c40;
    /* OPACITY - 26% */
    --Background1-26:#282a3642;
    --Background2-26:#44475a42;
    --Foreground1-26:#f8f8f242;
    --Comment-26:#6272a442;
    --Cyan-26:#8be9fd42;
    --Green-26:#50fa7b42;
    --Orange-26:#ffb86c42;
    --Pink-26:#ff79c642;
    --Purple-26:#bd93f942;
    --Red-26:#ff555542;
    --Yellow-26:#f1fa8c42;
    /* OPACITY - 27% */
    --Background1-27:#282a3645;
    --Background2-27:#44475a45;
    --Foreground1-27:#f8f8f245;
    --Comment-27:#6272a445;
    --Cyan-27:#8be9fd45;
    --Green-27:#50fa7b45;
    --Orange-27:#ffb86c45;
    --Pink-27:#ff79c645;
    --Purple-27:#bd93f945;
    --Red-27:#ff555545;
    --Yellow-27:#f1fa8c45;
    /* OPACITY - 28% */
    --Background1-28:#282a3647;
    --Background2-28:#44475a47;
    --Foreground1-28:#f8f8f247;
    --Comment-28:#6272a447;
    --Cyan-28:#8be9fd47;
    --Green-28:#50fa7b47;
    --Orange-28:#ffb86c47;
    --Pink-28:#ff79c647;
    --Purple-28:#bd93f947;
    --Red-28:#ff555547;
    --Yellow-28:#f1fa8c47;
    /* OPACITY - 29% */
    --Background1-29:#282a364a;
    --Background2-29:#44475a4a;
    --Foreground1-29:#f8f8f24a;
    --Comment-29:#6272a44a;
    --Cyan-29:#8be9fd4a;
    --Green-29:#50fa7b4a;
    --Orange-29:#ffb86c4a;
    --Pink-29:#ff79c64a;
    --Purple-29:#bd93f94a;
    --Red-29:#ff55554a;
    --Yellow-29:#f1fa8c4a;
    /* OPACITY - 30% */
    --Background1-30:#282a364d;
    --Background2-30:#44475a4d;
    --Foreground1-30:#f8f8f24d;
    --Comment-30:#6272a44d;
    --Cyan-30:#8be9fd4d;
    --Green-30:#50fa7b4d;
    --Orange-30:#ffb86c4d;
    --Pink-30:#ff79c64d;
    --Purple-30:#bd93f94d;
    --Red-30:#ff55554d;
    --Yellow-30:#f1fa8c4d;
    /* OPACITY - 31% */
    --Background1-31:#282a364f;
    --Background2-31:#44475a4f;
    --Foreground1-31:#f8f8f24f;
    --Comment-31:#6272a44f;
    --Cyan-31:#8be9fd4f;
    --Green-31:#50fa7b4f;
    --Orange-31:#ffb86c4f;
    --Pink-31:#ff79c64f;
    --Purple-31:#bd93f94f;
    --Red-31:#ff55554f;
    --Yellow-31:#f1fa8c4f;
    /* OPACITY - 32% */
    --Background1-32:#282a3652;
    --Background2-32:#44475a52;
    --Foreground1-32:#f8f8f252;
    --Comment-32:#6272a452;
    --Cyan-32:#8be9fd52;
    --Green-32:#50fa7b52;
    --Orange-32:#ffb86c52;
    --Pink-32:#ff79c652;
    --Purple-32:#bd93f952;
    --Red-32:#ff555552;
    --Yellow-32:#f1fa8c52;
    /* OPACITY - 33% */
    --Background1-33:#282a3654;
    --Background2-33:#44475a54;
    --Foreground1-33:#f8f8f254;
    --Comment-33:#6272a454;
    --Cyan-33:#8be9fd54;
    --Green-33:#50fa7b54;
    --Orange-33:#ffb86c54;
    --Pink-33:#ff79c654;
    --Purple-33:#bd93f954;
    --Red-33:#ff555554;
    --Yellow-33:#f1fa8c54;
    /* OPACITY - 34% */
    --Background1-34:#282a3657;
    --Background2-34:#44475a57;
    --Foreground1-34:#f8f8f257;
    --Comment-34:#6272a457;
    --Cyan-34:#8be9fd57;
    --Green-34:#50fa7b57;
    --Orange-34:#ffb86c57;
    --Pink-34:#ff79c657;
    --Purple-34:#bd93f957;
    --Red-34:#ff555557;
    --Yellow-34:#f1fa8c57;
    /* OPACITY - 35% */
    --Background1-35:#282a3659;
    --Background2-35:#44475a59;
    --Foreground1-35:#f8f8f259;
    --Comment-35:#6272a459;
    --Cyan-35:#8be9fd59;
    --Green-35:#50fa7b59;
    --Orange-35:#ffb86c59;
    --Pink-35:#ff79c659;
    --Purple-35:#bd93f959;
    --Red-35:#ff555559;
    --Yellow-35:#f1fa8c59;
    /* OPACITY - 36% */
    --Background1-36:#282a365c;
    --Background2-36:#44475a5c;
    --Foreground1-36:#f8f8f25c;
    --Comment-36:#6272a45c;
    --Cyan-36:#8be9fd5c;
    --Green-36:#50fa7b5c;
    --Orange-36:#ffb86c5c;
    --Pink-36:#ff79c65c;
    --Purple-36:#bd93f95c;
    --Red-36:#ff55555c;
    --Yellow-36:#f1fa8c5c;
    /* OPACITY - 37% */
    --Background1-37:#282a365e;
    --Background2-37:#44475a5e;
    --Foreground1-37:#f8f8f25e;
    --Comment-37:#6272a45e;
    --Cyan-37:#8be9fd5e;
    --Green-37:#50fa7b5e;
    --Orange-37:#ffb86c5e;
    --Pink-37:#ff79c65e;
    --Purple-37:#bd93f95e;
    --Red-37:#ff55555e;
    --Yellow-37:#f1fa8c5e;
    /* OPACITY - 38% */
    --Background1-38:#282a3661;
    --Background2-38:#44475a61;
    --Foreground1-38:#f8f8f261;
    --Comment-38:#6272a461;
    --Cyan-38:#8be9fd61;
    --Green-38:#50fa7b61;
    --Orange-38:#ffb86c61;
    --Pink-38:#ff79c661;
    --Purple-38:#bd93f961;
    --Red-38:#ff555561;
    --Yellow-38:#f1fa8c61;
    /* OPACITY - 39% */
    --Background1-39:#282a3663;
    --Background2-39:#44475a63;
    --Foreground1-39:#f8f8f263;
    --Comment-39:#6272a463;
    --Cyan-39:#8be9fd63;
    --Green-39:#50fa7b63;
    --Orange-39:#ffb86c63;
    --Pink-39:#ff79c663;
    --Purple-39:#bd93f963;
    --Red-39:#ff555563;
    --Yellow-39:#f1fa8c63;
    /* OPACITY - 40% */
    --Background1-40:#282a3666;
    --Background2-40:#44475a66;
    --Foreground1-40:#f8f8f266;
    --Comment-40:#6272a466;
    --Cyan-40:#8be9fd66;
    --Green-40:#50fa7b66;
    --Orange-40:#ffb86c66;
    --Pink-40:#ff79c666;
    --Purple-40:#bd93f966;
    --Red-40:#ff555566;
    --Yellow-40:#f1fa8c66;
    /* OPACITY - 41% */
    --Background1-41:#282a3669;
    --Background2-41:#44475a69;
    --Foreground1-41:#f8f8f269;
    --Comment-41:#6272a469;
    --Cyan-41:#8be9fd69;
    --Green-41:#50fa7b69;
    --Orange-41:#ffb86c69;
    --Pink-41:#ff79c669;
    --Purple-41:#bd93f969;
    --Red-41:#ff555569;
    --Yellow-41:#f1fa8c69;
    /* OPACITY - 42% */
    --Background1-42:#282a366b;
    --Background2-42:#44475a6b;
    --Foreground1-42:#f8f8f26b;
    --Comment-42:#6272a46b;
    --Cyan-42:#8be9fd6b;
    --Green-42:#50fa7b6b;
    --Orange-42:#ffb86c6b;
    --Pink-42:#ff79c66b;
    --Purple-42:#bd93f96b;
    --Red-42:#ff55556b;
    --Yellow-42:#f1fa8c6b;
    /* OPACITY - 43% */
    --Background1-43:#282a366e;
    --Background2-43:#44475a6e;
    --Foreground1-43:#f8f8f26e;
    --Comment-43:#6272a46e;
    --Cyan-43:#8be9fd6e;
    --Green-43:#50fa7b6e;
    --Orange-43:#ffb86c6e;
    --Pink-43:#ff79c66e;
    --Purple-43:#bd93f96e;
    --Red-43:#ff55556e;
    --Yellow-43:#f1fa8c6e;
    /* OPACITY - 44% */
    --Background1-44:#282a3670;
    --Background2-44:#44475a70;
    --Foreground1-44:#f8f8f270;
    --Comment-44:#6272a470;
    --Cyan-44:#8be9fd70;
    --Green-44:#50fa7b70;
    --Orange-44:#ffb86c70;
    --Pink-44:#ff79c670;
    --Purple-44:#bd93f970;
    --Red-44:#ff555570;
    --Yellow-44:#f1fa8c70;
    /* OPACITY - 45% */
    --Background1-45:#282a3673;
    --Background2-45:#44475a73;
    --Foreground1-45:#f8f8f273;
    --Comment-45:#6272a473;
    --Cyan-45:#8be9fd73;
    --Green-45:#50fa7b73;
    --Orange-45:#ffb86c73;
    --Pink-45:#ff79c673;
    --Purple-45:#bd93f973;
    --Red-45:#ff555573;
    --Yellow-45:#f1fa8c73;
    /* OPACITY - 46% */
    --Background1-46:#282a3675;
    --Background2-46:#44475a75;
    --Foreground1-46:#f8f8f275;
    --Comment-46:#6272a475;
    --Cyan-46:#8be9fd75;
    --Green-46:#50fa7b75;
    --Orange-46:#ffb86c75;
    --Pink-46:#ff79c675;
    --Purple-46:#bd93f975;
    --Red-46:#ff555575;
    --Yellow-46:#f1fa8c75;
    /* OPACITY - 47% */
    --Background1-47:#282a3678;
    --Background2-47:#44475a78;
    --Foreground1-47:#f8f8f278;
    --Comment-47:#6272a478;
    --Cyan-47:#8be9fd78;
    --Green-47:#50fa7b78;
    --Orange-47:#ffb86c78;
    --Pink-47:#ff79c678;
    --Purple-47:#bd93f978;
    --Red-47:#ff555578;
    --Yellow-47:#f1fa8c78;
    /* OPACITY - 48% */
    --Background1-48:#282a367a;
    --Background2-48:#44475a7a;
    --Foreground1-48:#f8f8f27a;
    --Comment-48:#6272a47a;
    --Cyan-48:#8be9fd7a;
    --Green-48:#50fa7b7a;
    --Orange-48:#ffb86c7a;
    --Pink-48:#ff79c67a;
    --Purple-48:#bd93f97a;
    --Red-48:#ff55557a;
    --Yellow-48:#f1fa8c7a;
    /* OPACITY - 49% */
    --Background1-49:#282a367d;
    --Background2-49:#44475a7d;
    --Foreground1-49:#f8f8f27d;
    --Comment-49:#6272a47d;
    --Cyan-49:#8be9fd7d;
    --Green-49:#50fa7b7d;
    --Orange-49:#ffb86c7d;
    --Pink-49:#ff79c67d;
    --Purple-49:#bd93f97d;
    --Red-49:#ff55557d;
    --Yellow-49:#f1fa8c7d;
    /* OPACITY - 50% */
    --Background1-50:#282a3680;
    --Background2-50:#44475a80;
    --Foreground1-50:#f8f8f280;
    --Comment-50:#6272a480;
    --Cyan-50:#8be9fd80;
    --Green-50:#50fa7b80;
    --Orange-50:#ffb86c80;
    --Pink-50:#ff79c680;
    --Purple-50:#bd93f980;
    --Red-50:#ff555580;
    --Yellow-50:#f1fa8c80;
    /* OPACITY - 51% */
    --Background1-51:#282a3682;
    --Background2-51:#44475a82;
    --Foreground1-51:#f8f8f282;
    --Comment-51:#6272a482;
    --Cyan-51:#8be9fd82;
    --Green-51:#50fa7b82;
    --Orange-51:#ffb86c82;
    --Pink-51:#ff79c682;
    --Purple-51:#bd93f982;
    --Red-51:#ff555582;
    --Yellow-51:#f1fa8c82;
    /* OPACITY - 52% */
    --Background1-52:#282a3685;
    --Background2-52:#44475a85;
    --Foreground1-52:#f8f8f285;
    --Comment-52:#6272a485;
    --Cyan-52:#8be9fd85;
    --Green-52:#50fa7b85;
    --Orange-52:#ffb86c85;
    --Pink-52:#ff79c685;
    --Purple-52:#bd93f985;
    --Red-52:#ff555585;
    --Yellow-52:#f1fa8c85;
    /* OPACITY - 53% */
    --Background1-53:#282a3687;
    --Background2-53:#44475a87;
    --Foreground1-53:#f8f8f287;
    --Comment-53:#6272a487;
    --Cyan-53:#8be9fd87;
    --Green-53:#50fa7b87;
    --Orange-53:#ffb86c87;
    --Pink-53:#ff79c687;
    --Purple-53:#bd93f987;
    --Red-53:#ff555587;
    --Yellow-53:#f1fa8c87;
    /* OPACITY - 54% */
    --Background1-54:#282a368a;
    --Background2-54:#44475a8a;
    --Foreground1-54:#f8f8f28a;
    --Comment-54:#6272a48a;
    --Cyan-54:#8be9fd8a;
    --Green-54:#50fa7b8a;
    --Orange-54:#ffb86c8a;
    --Pink-54:#ff79c68a;
    --Purple-54:#bd93f98a;
    --Red-54:#ff55558a;
    --Yellow-54:#f1fa8c8a;
    /* OPACITY - 55% */
    --Background1-55:#282a368c;
    --Background2-55:#44475a8c;
    --Foreground1-55:#f8f8f28c;
    --Comment-55:#6272a48c;
    --Cyan-55:#8be9fd8c;
    --Green-55:#50fa7b8c;
    --Orange-55:#ffb86c8c;
    --Pink-55:#ff79c68c;
    --Purple-55:#bd93f98c;
    --Red-55:#ff55558c;
    --Yellow-55:#f1fa8c8c;
    /* OPACITY - 56% */
    --Background1-56:#282a368f;
    --Background2-56:#44475a8f;
    --Foreground1-56:#f8f8f28f;
    --Comment-56:#6272a48f;
    --Cyan-56:#8be9fd8f;
    --Green-56:#50fa7b8f;
    --Orange-56:#ffb86c8f;
    --Pink-56:#ff79c68f;
    --Purple-56:#bd93f98f;
    --Red-56:#ff55558f;
    --Yellow-56:#f1fa8c8f;
    /* OPACITY - 57% */
    --Background1-57:#282a3691;
    --Background2-57:#44475a91;
    --Foreground1-57:#f8f8f291;
    --Comment-57:#6272a491;
    --Cyan-57:#8be9fd91;
    --Green-57:#50fa7b91;
    --Orange-57:#ffb86c91;
    --Pink-57:#ff79c691;
    --Purple-57:#bd93f991;
    --Red-57:#ff555591;
    --Yellow-57:#f1fa8c91;
    /* OPACITY - 58% */
    --Background1-58:#282a3694;
    --Background2-58:#44475a94;
    --Foreground1-58:#f8f8f294;
    --Comment-58:#6272a494;
    --Cyan-58:#8be9fd94;
    --Green-58:#50fa7b94;
    --Orange-58:#ffb86c94;
    --Pink-58:#ff79c694;
    --Purple-58:#bd93f994;
    --Red-58:#ff555594;
    --Yellow-58:#f1fa8c94;
    /* OPACITY - 59% */
    --Background1-59:#282a3696;
    --Background2-59:#44475a96;
    --Foreground1-59:#f8f8f296;
    --Comment-59:#6272a496;
    --Cyan-59:#8be9fd96;
    --Green-59:#50fa7b96;
    --Orange-59:#ffb86c96;
    --Pink-59:#ff79c696;
    --Purple-59:#bd93f996;
    --Red-59:#ff555596;
    --Yellow-59:#f1fa8c96;
    /* OPACITY - 60% */
    --Background1-60:#282a3699;
    --Background2-60:#44475a99;
    --Foreground1-60:#f8f8f299;
    --Comment-60:#6272a499;
    --Cyan-60:#8be9fd99;
    --Green-60:#50fa7b99;
    --Orange-60:#ffb86c99;
    --Pink-60:#ff79c699;
    --Purple-60:#bd93f999;
    --Red-60:#ff555599;
    --Yellow-60:#f1fa8c99;
    /* OPACITY - 61% */
    --Background1-61:#282a369c;
    --Background2-61:#44475a9c;
    --Foreground1-61:#f8f8f29c;
    --Comment-61:#6272a49c;
    --Cyan-61:#8be9fd9c;
    --Green-61:#50fa7b9c;
    --Orange-61:#ffb86c9c;
    --Pink-61:#ff79c69c;
    --Purple-61:#bd93f99c;
    --Red-61:#ff55559c;
    --Yellow-61:#f1fa8c9c;
    /* OPACITY - 62% */
    --Background1-62:#282a369e;
    --Background2-62:#44475a9e;
    --Foreground1-62:#f8f8f29e;
    --Comment-62:#6272a49e;
    --Cyan-62:#8be9fd9e;
    --Green-62:#50fa7b9e;
    --Orange-62:#ffb86c9e;
    --Pink-62:#ff79c69e;
    --Purple-62:#bd93f99e;
    --Red-62:#ff55559e;
    --Yellow-62:#f1fa8c9e;
    /* OPACITY - 63% */
    --Background1-63:#282a36a1;
    --Background2-63:#44475aa1;
    --Foreground1-63:#f8f8f2a1;
    --Comment-63:#6272a4a1;
    --Cyan-63:#8be9fda1;
    --Green-63:#50fa7ba1;
    --Orange-63:#ffb86ca1;
    --Pink-63:#ff79c6a1;
    --Purple-63:#bd93f9a1;
    --Red-63:#ff5555a1;
    --Yellow-63:#f1fa8ca1;
    /* OPACITY - 64% */
    --Background1-64:#282a36a3;
    --Background2-64:#44475aa3;
    --Foreground1-64:#f8f8f2a3;
    --Comment-64:#6272a4a3;
    --Cyan-64:#8be9fda3;
    --Green-64:#50fa7ba3;
    --Orange-64:#ffb86ca3;
    --Pink-64:#ff79c6a3;
    --Purple-64:#bd93f9a3;
    --Red-64:#ff5555a3;
    --Yellow-64:#f1fa8ca3;
    /* OPACITY - 65% */
    --Background1-65:#282a36a6;
    --Background2-65:#44475aa6;
    --Foreground1-65:#f8f8f2a6;
    --Comment-65:#6272a4a6;
    --Cyan-65:#8be9fda6;
    --Green-65:#50fa7ba6;
    --Orange-65:#ffb86ca6;
    --Pink-65:#ff79c6a6;
    --Purple-65:#bd93f9a6;
    --Red-65:#ff5555a6;
    --Yellow-65:#f1fa8ca6;
    /* OPACITY - 66% */
    --Background1-66:#282a36a8;
    --Background2-66:#44475aa8;
    --Foreground1-66:#f8f8f2a8;
    --Comment-66:#6272a4a8;
    --Cyan-66:#8be9fda8;
    --Green-66:#50fa7ba8;
    --Orange-66:#ffb86ca8;
    --Pink-66:#ff79c6a8;
    --Purple-66:#bd93f9a8;
    --Red-66:#ff5555a8;
    --Yellow-66:#f1fa8ca8;
    /* OPACITY - 67% */
    --Background1-67:#282a36ab;
    --Background2-67:#44475aab;
    --Foreground1-67:#f8f8f2ab;
    --Comment-67:#6272a4ab;
    --Cyan-67:#8be9fdab;
    --Green-67:#50fa7bab;
    --Orange-67:#ffb86cab;
    --Pink-67:#ff79c6ab;
    --Purple-67:#bd93f9ab;
    --Red-67:#ff5555ab;
    --Yellow-67:#f1fa8cab;
    /* OPACITY - 68% */
    --Background1-68:#282a36ad;
    --Background2-68:#44475aad;
    --Foreground1-68:#f8f8f2ad;
    --Comment-68:#6272a4ad;
    --Cyan-68:#8be9fdad;
    --Green-68:#50fa7bad;
    --Orange-68:#ffb86cad;
    --Pink-68:#ff79c6ad;
    --Purple-68:#bd93f9ad;
    --Red-68:#ff5555ad;
    --Yellow-68:#f1fa8cad;
    /* OPACITY - 69% */
    --Background1-69:#282a36b0;
    --Background2-69:#44475ab0;
    --Foreground1-69:#f8f8f2b0;
    --Comment-69:#6272a4b0;
    --Cyan-69:#8be9fdb0;
    --Green-69:#50fa7bb0;
    --Orange-69:#ffb86cb0;
    --Pink-69:#ff79c6b0;
    --Purple-69:#bd93f9b0;
    --Red-69:#ff5555b0;
    --Yellow-69:#f1fa8cb0;
    /* OPACITY - 70% */
    --Background1-70:#282a36b3;
    --Background2-70:#44475ab3;
    --Foreground1-70:#f8f8f2b3;
    --Comment-70:#6272a4b3;
    --Cyan-70:#8be9fdb3;
    --Green-70:#50fa7bb3;
    --Orange-70:#ffb86cb3;
    --Pink-70:#ff79c6b3;
    --Purple-70:#bd93f9b3;
    --Red-70:#ff5555b3;
    --Yellow-70:#f1fa8cb3;
    /* OPACITY - 71% */
    --Background1-71:#282a36b5;
    --Background2-71:#44475ab5;
    --Foreground1-71:#f8f8f2b5;
    --Comment-71:#6272a4b5;
    --Cyan-71:#8be9fdb5;
    --Green-71:#50fa7bb5;
    --Orange-71:#ffb86cb5;
    --Pink-71:#ff79c6b5;
    --Purple-71:#bd93f9b5;
    --Red-71:#ff5555b5;
    --Yellow-71:#f1fa8cb5;
    /* OPACITY - 72% */
    --Background1-72:#282a36b8;
    --Background2-72:#44475ab8;
    --Foreground1-72:#f8f8f2b8;
    --Comment-72:#6272a4b8;
    --Cyan-72:#8be9fdb8;
    --Green-72:#50fa7bb8;
    --Orange-72:#ffb86cb8;
    --Pink-72:#ff79c6b8;
    --Purple-72:#bd93f9b8;
    --Red-72:#ff5555b8;
    --Yellow-72:#f1fa8cb8;
    /* OPACITY - 73% */
    --Background1-73:#282a36ba;
    --Background2-73:#44475aba;
    --Foreground1-73:#f8f8f2ba;
    --Comment-73:#6272a4ba;
    --Cyan-73:#8be9fdba;
    --Green-73:#50fa7bba;
    --Orange-73:#ffb86cba;
    --Pink-73:#ff79c6ba;
    --Purple-73:#bd93f9ba;
    --Red-73:#ff5555ba;
    --Yellow-73:#f1fa8cba;
    /* OPACITY - 74% */
    --Background1-74:#282a36bd;
    --Background2-74:#44475abd;
    --Foreground1-74:#f8f8f2bd;
    --Comment-74:#6272a4bd;
    --Cyan-74:#8be9fdbd;
    --Green-74:#50fa7bbd;
    --Orange-74:#ffb86cbd;
    --Pink-74:#ff79c6bd;
    --Purple-74:#bd93f9bd;
    --Red-74:#ff5555bd;
    --Yellow-74:#f1fa8cbd;
    /* OPACITY - 75% */
    --Background1-75:#282a36bf;
    --Background2-75:#44475abf;
    --Foreground1-75:#f8f8f2bf;
    --Comment-75:#6272a4bf;
    --Cyan-75:#8be9fdbf;
    --Green-75:#50fa7bbf;
    --Orange-75:#ffb86cbf;
    --Pink-75:#ff79c6bf;
    --Purple-75:#bd93f9bf;
    --Red-75:#ff5555bf;
    --Yellow-75:#f1fa8cbf;
    /* OPACITY - 76% */
    --Background1-76:#282a36c2;
    --Background2-76:#44475ac2;
    --Foreground1-76:#f8f8f2c2;
    --Comment-76:#6272a4c2;
    --Cyan-76:#8be9fdc2;
    --Green-76:#50fa7bc2;
    --Orange-76:#ffb86cc2;
    --Pink-76:#ff79c6c2;
    --Purple-76:#bd93f9c2;
    --Red-76:#ff5555c2;
    --Yellow-76:#f1fa8cc2;
    /* OPACITY - 77% */
    --Background1-77:#282a36c4;
    --Background2-77:#44475ac4;
    --Foreground1-77:#f8f8f2c4;
    --Comment-77:#6272a4c4;
    --Cyan-77:#8be9fdc4;
    --Green-77:#50fa7bc4;
    --Orange-77:#ffb86cc4;
    --Pink-77:#ff79c6c4;
    --Purple-77:#bd93f9c4;
    --Red-77:#ff5555c4;
    --Yellow-77:#f1fa8cc4;
    /* OPACITY - 78% */
    --Background1-78:#282a36c7;
    --Background2-78:#44475ac7;
    --Foreground1-78:#f8f8f2c7;
    --Comment-78:#6272a4c7;
    --Cyan-78:#8be9fdc7;
    --Green-78:#50fa7bc7;
    --Orange-78:#ffb86cc7;
    --Pink-78:#ff79c6c7;
    --Purple-78:#bd93f9c7;
    --Red-78:#ff5555c7;
    --Yellow-78:#f1fa8cc7;
    /* OPACITY - 79% */
    --Background1-79:#282a36c9;
    --Background2-79:#44475ac9;
    --Foreground1-79:#f8f8f2c9;
    --Comment-79:#6272a4c9;
    --Cyan-79:#8be9fdc9;
    --Green-79:#50fa7bc9;
    --Orange-79:#ffb86cc9;
    --Pink-79:#ff79c6c9;
    --Purple-79:#bd93f9c9;
    --Red-79:#ff5555c9;
    --Yellow-79:#f1fa8cc9;
    /* OPACITY - 80% */
    --Background1-80:#282a36cc;
    --Background2-80:#44475acc;
    --Foreground1-80:#f8f8f2cc;
    --Comment-80:#6272a4cc;
    --Cyan-80:#8be9fdcc;
    --Green-80:#50fa7bcc;
    --Orange-80:#ffb86ccc;
    --Pink-80:#ff79c6cc;
    --Purple-80:#bd93f9cc;
    --Red-80:#ff5555cc;
    --Yellow-80:#f1fa8ccc;
    /* OPACITY - 81% */
    --Background1-81:#282a36cf;
    --Background2-81:#44475acf;
    --Foreground1-81:#f8f8f2cf;
    --Comment-81:#6272a4cf;
    --Cyan-81:#8be9fdcf;
    --Green-81:#50fa7bcf;
    --Orange-81:#ffb86ccf;
    --Pink-81:#ff79c6cf;
    --Purple-81:#bd93f9cf;
    --Red-81:#ff5555cf;
    --Yellow-81:#f1fa8ccf;
    /* OPACITY - 82% */
    --Background1-82:#282a36d1;
    --Background2-82:#44475ad1;
    --Foreground1-82:#f8f8f2d1;
    --Comment-82:#6272a4d1;
    --Cyan-82:#8be9fdd1;
    --Green-82:#50fa7bd1;
    --Orange-82:#ffb86cd1;
    --Pink-82:#ff79c6d1;
    --Purple-82:#bd93f9d1;
    --Red-82:#ff5555d1;
    --Yellow-82:#f1fa8cd1;
    /* OPACITY - 83% */
    --Background1-83:#282a36d4;
    --Background2-83:#44475ad4;
    --Foreground1-83:#f8f8f2d4;
    --Comment-83:#6272a4d4;
    --Cyan-83:#8be9fdd4;
    --Green-83:#50fa7bd4;
    --Orange-83:#ffb86cd4;
    --Pink-83:#ff79c6d4;
    --Purple-83:#bd93f9d4;
    --Red-83:#ff5555d4;
    --Yellow-83:#f1fa8cd4;
    /* OPACITY - 84% */
    --Background1-84:#282a36d6;
    --Background2-84:#44475ad6;
    --Foreground1-84:#f8f8f2d6;
    --Comment-84:#6272a4d6;
    --Cyan-84:#8be9fdd6;
    --Green-84:#50fa7bd6;
    --Orange-84:#ffb86cd6;
    --Pink-84:#ff79c6d6;
    --Purple-84:#bd93f9d6;
    --Red-84:#ff5555d6;
    --Yellow-84:#f1fa8cd6;
    /* OPACITY - 85% */
    --Background1-85:#282a36d9;
    --Background2-85:#44475ad9;
    --Foreground1-85:#f8f8f2d9;
    --Comment-85:#6272a4d9;
    --Cyan-85:#8be9fdd9;
    --Green-85:#50fa7bd9;
    --Orange-85:#ffb86cd9;
    --Pink-85:#ff79c6d9;
    --Purple-85:#bd93f9d9;
    --Red-85:#ff5555d9;
    --Yellow-85:#f1fa8cd9;
    /* OPACITY - 86% */
    --Background1-86:#282a36db;
    --Background2-86:#44475adb;
    --Foreground1-86:#f8f8f2db;
    --Comment-86:#6272a4db;
    --Cyan-86:#8be9fddb;
    --Green-86:#50fa7bdb;
    --Orange-86:#ffb86cdb;
    --Pink-86:#ff79c6db;
    --Purple-86:#bd93f9db;
    --Red-86:#ff5555db;
    --Yellow-86:#f1fa8cdb;
    /* OPACITY - 87% */
    --Background1-87:#282a36de;
    --Background2-87:#44475ade;
    --Foreground1-87:#f8f8f2de;
    --Comment-87:#6272a4de;
    --Cyan-87:#8be9fdde;
    --Green-87:#50fa7bde;
    --Orange-87:#ffb86cde;
    --Pink-87:#ff79c6de;
    --Purple-87:#bd93f9de;
    --Red-87:#ff5555de;
    --Yellow-87:#f1fa8cde;
    /* OPACITY - 88% */
    --Background1-88:#282a36e0;
    --Background2-88:#44475ae0;
    --Foreground1-88:#f8f8f2e0;
    --Comment-88:#6272a4e0;
    --Cyan-88:#8be9fde0;
    --Green-88:#50fa7be0;
    --Orange-88:#ffb86ce0;
    --Pink-88:#ff79c6e0;
    --Purple-88:#bd93f9e0;
    --Red-88:#ff5555e0;
    --Yellow-88:#f1fa8ce0;
    /* OPACITY - 89% */
    --Background1-89:#282a36e3;
    --Background2-89:#44475ae3;
    --Foreground1-89:#f8f8f2e3;
    --Comment-89:#6272a4e3;
    --Cyan-89:#8be9fde3;
    --Green-89:#50fa7be3;
    --Orange-89:#ffb86ce3;
    --Pink-89:#ff79c6e3;
    --Purple-89:#bd93f9e3;
    --Red-89:#ff5555e3;
    --Yellow-89:#f1fa8ce3;
    /* OPACITY - 90% */
    --Background1-90:#282a36e6;
    --Background2-90:#44475ae6;
    --Foreground1-90:#f8f8f2e6;
    --Comment-90:#6272a4e6;
    --Cyan-90:#8be9fde6;
    --Green-90:#50fa7be6;
    --Orange-90:#ffb86ce6;
    --Pink-90:#ff79c6e6;
    --Purple-90:#bd93f9e6;
    --Red-90:#ff5555e6;
    --Yellow-90:#f1fa8ce6;
    /* OPACITY - 91% */
    --Background1-91:#282a36e8;
    --Background2-91:#44475ae8;
    --Foreground1-91:#f8f8f2e8;
    --Comment-91:#6272a4e8;
    --Cyan-91:#8be9fde8;
    --Green-91:#50fa7be8;
    --Orange-91:#ffb86ce8;
    --Pink-91:#ff79c6e8;
    --Purple-91:#bd93f9e8;
    --Red-91:#ff5555e8;
    --Yellow-91:#f1fa8ce8;
    /* OPACITY - 92% */
    --Background1-92:#282a36eb;
    --Background2-92:#44475aeb;
    --Foreground1-92:#f8f8f2eb;
    --Comment-92:#6272a4eb;
    --Cyan-92:#8be9fdeb;
    --Green-92:#50fa7beb;
    --Orange-92:#ffb86ceb;
    --Pink-92:#ff79c6eb;
    --Purple-92:#bd93f9eb;
    --Red-92:#ff5555eb;
    --Yellow-92:#f1fa8ceb;
    /* OPACITY - 93% */
    --Background1-93:#282a36ed;
    --Background2-93:#44475aed;
    --Foreground1-93:#f8f8f2ed;
    --Comment-93:#6272a4ed;
    --Cyan-93:#8be9fded;
    --Green-93:#50fa7bed;
    --Orange-93:#ffb86ced;
    --Pink-93:#ff79c6ed;
    --Purple-93:#bd93f9ed;
    --Red-93:#ff5555ed;
    --Yellow-93:#f1fa8ced;
    /* OPACITY - 94% */
    --Background1-94:#282a36f0;
    --Background2-94:#44475af0;
    --Foreground1-94:#f8f8f2f0;
    --Comment-94:#6272a4f0;
    --Cyan-94:#8be9fdf0;
    --Green-94:#50fa7bf0;
    --Orange-94:#ffb86cf0;
    --Pink-94:#ff79c6f0;
    --Purple-94:#bd93f9f0;
    --Red-94:#ff5555f0;
    --Yellow-94:#f1fa8cf0;
    /* OPACITY - 95% */
    --Background1-95:#282a36f2;
    --Background2-95:#44475af2;
    --Foreground1-95:#f8f8f2f2;
    --Comment-95:#6272a4f2;
    --Cyan-95:#8be9fdf2;
    --Green-95:#50fa7bf2;
    --Orange-95:#ffb86cf2;
    --Pink-95:#ff79c6f2;
    --Purple-95:#bd93f9f2;
    --Red-95:#ff5555f2;
    --Yellow-95:#f1fa8cf2;
    /* OPACITY - 96% */
    --Background1-96:#282a36f5;
    --Background2-96:#44475af5;
    --Foreground1-96:#f8f8f2f5;
    --Comment-96:#6272a4f5;
    --Cyan-96:#8be9fdf5;
    --Green-96:#50fa7bf5;
    --Orange-96:#ffb86cf5;
    --Pink-96:#ff79c6f5;
    --Purple-96:#bd93f9f5;
    --Red-96:#ff5555f5;
    --Yellow-96:#f1fa8cf5;
    /* OPACITY - 97% */
    --Background1-97:#282a36f7;
    --Background2-97:#44475af7;
    --Foreground1-97:#f8f8f2f7;
    --Comment-97:#6272a4f7;
    --Cyan-97:#8be9fdf7;
    --Green-97:#50fa7bf7;
    --Orange-97:#ffb86cf7;
    --Pink-97:#ff79c6f7;
    --Purple-97:#bd93f9f7;
    --Red-97:#ff5555f7;
    --Yellow-97:#f1fa8cf7;
    /* OPACITY - 98% */
    --Background1-98:#282a36fa;
    --Background2-98:#44475afa;
    --Foreground1-98:#f8f8f2fa;
    --Comment-98:#6272a4fa;
    --Cyan-98:#8be9fdfa;
    --Green-98:#50fa7bfa;
    --Orange-98:#ffb86cfa;
    --Pink-98:#ff79c6fa;
    --Purple-98:#bd93f9fa;
    --Red-98:#ff5555fa;
    --Yellow-98:#f1fa8cfa;
    /* OPACITY - 99% */
    --Background1-99:#282a36fc;
    --Background2-99:#44475afc;
    --Foreground1-99:#f8f8f2fc;
    --Comment-99:#6272a4fc;
    --Cyan-99:#8be9fdfc;
    --Green-99:#50fa7bfc;
    --Orange-99:#ffb86cfc;
    --Pink-99:#ff79c6fc;
    --Purple-99:#bd93f9fc;
    --Red-99:#ff5555fc;
    --Yellow-99:#f1fa8cfc;
    /* OPACITY - 100% */
    --Background1-100:#282a36ff;
    --Background2-100:#44475aff;
    --Foreground1-100:#f8f8f2ff;
    --Comment-100:#6272a4ff;
    --Cyan-100:#8be9fdff;
    --Green-100:#50fa7bff;
    --Orange-100:#ffb86cff;
    --Pink-100:#ff79c6ff;
    --Purple-100:#bd93f9ff;
    --Red-100:#ff5555ff;
    --Yellow-100:#f1fa8cff;
}